[2016-01-30 19:41] seanroark opened #1 "lxml is a requirement"
[lxml ](https://pypi.python.org/pypi/lxml)needs to be installed. It is not installed by default for Windows at least.

[2016-01-30 20:21] zachpanz88 commented on #1
Thanks for noticing this. I did not realize that lxml was not installed by default. This issue is fixed in [Version 1.0.2](https://github.com/zachpanz88/mlbgame/releases/tag/v1.0.2) with commit https://github.com/zachpanz88/mlbgame/commit/9aba8f09cbe5f639f3cd59611c799a6e4bf648ff

[2016-01-30 20:21] #1 closed

[2016-03-24 19:31] kajensen opened #3 "handle boxscores with 'ig_game' tag"
What is the reason for not handling games with tag 'ig_game' (i'm assuming this means "in-game"?)? I've hacked a solution for it but the data is not exactly the same as a 'go_game' ("game-over"?). I think this needs to be implemented in order for the library to update in real-time.

[2016-03-25 00:15] zachpanz88 commented on #3
When I originally made this program, the season had just ended and therefore no games were being played. Now that spring training has started up again, I will look into `ig_game`. Thanks for the info

[2016-03-25 00:26] zachpanz88 commented on #3
Fixed with commit 29b5c0362fa2a674dbb9fc649a3466d1c9e6e5e7, thanks.

[2016-03-25 00:26] #3 closed

[2016-03-25 00:35] zachpanz88 commented on #3
Added in [version 2.0.0](https://github.com/zachpanz88/mlbgame/releases/tag/v2.0.0), please update mlbgame to receive the changes

[2016-03-25 01:02] kajensen commented on #3
Awesome! Thanks for the quick response/fix

[2016-03-29 14:21] tmthyjames opened #4 "Accessing the local mlbgame database directly"
How can i directly access the database instead of using the python module?

[2016-03-29 14:45] zachpanz88 commented on #4
I'm not quite sure exactly what you are asking, but the local game data is stored in `mlbgame/gameday-data` and the remote data from mlb.com can be accessed here: http://gd2.mlb.com/components/game/mlb/. The data is not stored in a database, but rather as compressed XML files, and the data provided by mlb.com are XML files.

[2016-03-31 20:23] tmthyjames opened #5 "player_stats & team_stats don't always return obp, ops and slg"
obp, ops and slg aren't always returned for `player_stats()` and `team_stats()` even though `idmap['obp']['always']`, `idmap['ops']['always']` and `idmap['slg']['always']` are set to `True`.

Example: `mlbgame.stats.team_stats('2015_04_01_bosmlb_minmlb_1')`

returns

[code]

[2016-03-31 20:27] tmthyjames commented on #5
I can calculate obp from other stats, but not slg or ops (unless there is data for singles, doubles and triples which I haven't been able to find).

Is it possible to get single, double, triple data per game?

[2016-04-01 18:25] zachpanz88 commented on #5
That's odd, ops and slg do not appear to show up on spring training games. That's on MLB, there's nothing I can really do if they do not provide the data. As far as I know, data for individual types of hits is not provided but there is a list of all the events that occurred in the game, and you could go through and see who was batting for each event and what the outcome was. Here is the list of ev

[2016-04-01 20:07] tmthyjames commented on #5
Got it. Thanks for the game events link; I can scrape through that to find 1b, 2b and 3b data.

Will there be support in the future for getting play-by-play events through mlbgame? Wasn't sure if it was already in the works.

[2016-04-01 20:09] zachpanz88 commented on #5
I'm thinking about it, not exactly sure how I'm going to add it to the project but it will probably be coming soon along with other feature additions.

[2016-04-01 20:09] #5 closed

[2016-04-01 20:21] #4 closed

[2016-04-02 17:44] misea opened #6 "UnboundLocalError: local variable 'w_pitcher' referenced before assignment"
I think this happens when the winning pitcher is not in the stats. Repro:

[code]

I'm not a python programmer, but I think line 45 of game.py has W_pitcher instead of w_pitcher

[2016-04-02 19:09] zachpanz88 commented on #6
I see what you mean. I'm currently at a hackathon but I'll issue a fix soon.

[2016-04-07 23:21] zachpanz88 commented on #6
Fixed in version [2.0.2](https://github.com/zachpanz88/mlbgame/releases/tag/v2.0.2) with commit a6fc64f5ea6889311ec0e8b5deaa4a88de4caf0e. Please update mlbgame for the fix.

[2016-04-07 23:21] #6 closed

[2016-05-01 15:02] ma-rp opened #7 "Players Ids"
Hello,

Thank you very much for this initiative.

Is it possible to include player's ids?
That way you can use the data returned with other data sources.

For example something like this would be useful:
games = mlbgame.games(2015, 4)
for day in games :
  for g in day:
    print(g.w_pitcher_id)

Thank you in advance for your help.

[2016-05-01 16:20] zachpanz88 commented on #7
Unfortunately, mlb.com does not provide the player's ID in `mlbgame.games()`. However, you could get the game ID and use that to get the stats for that game, which will provide the full stats for the winning pitcher. Here is a simple hack to print the winning pitcher's IDs for your scenario:

[code]

[2016-05-05 20:09] ma-rp commented on #7
Thank you for that example!
I can work with something similar from your post.

Thank you very much.

[2016-05-05 21:37] zachpanz88 commented on #7
No problem. I'm happy to help.

[2016-05-05 21:37] #7 closed

[2016-05-11 01:38] rationalpastime commented on #5
Double and triple data are there. The stats are labeled 'd' and 't'. You can get slg via (h + d + 2*t + 3hr)/ab.

[2016-05-11 02:20] zachpanz88 commented on #5
Thanks @rationalpastime. Updated statmap with commit f76408e86ef365bb95466d9f15c2294c280dbf6c, new release coming sometime soon.

[2016-05-17 03:38] rationalpastime opened #8 "player_stats not handling some spring training games"
Occasionally MLB teams play non-MLB teams in exhibition. Two of these games took place on April 4, 2016. combine_games handles this okay, simply ignoring the non-MLB match-ups. See the April 4 scoreboard:

However, player_stats does not handle these well. Below is the error message I receive when I try to run mlbgame.player_stats(game.game_id) on one of those games, for instance the Miami Marlins

[2016-05-17 11:52] zachpanz88 commented on #8
How did you get the ID for that game? It is not listed by the MLB on the scoreboard for that game. The MLB also has no stats for that game. I can't really do anything if the data is not provided by MLB.com.

[2016-05-17 17:41] rationalpastime commented on #8
It was one of the game IDs your module generated it via mlbgame.day(2016, 4, 4). I know you can't get the data if the data aren't provided. I mention this in case you wanted to build in some error checking before your module tries to pull a URL that doesn't exist. When your module tries to pull one of those pages and gets an error, it stops whatever program is running it dead in its tracks.

[2016-05-17 17:51] zachpanz88 commented on #8
I will add some sort of try/except for that.

[2016-05-17 18:05] rationalpastime commented on #8
Note: also seems to happen with some rainouts, for instance last night's Royals/Sox game. The following code generates the same error.

Super useful module otherwise.

[2016-05-17 18:10] zachpanz88 commented on #8
I think you could check the `game_type` to determine if the game was rained out or not.

Also, I do not know if I want to make the requests silently fail. Without showing the error message, it could break parts of programs when they try to use what is returned from the function.

[2016-05-17 18:10] zachpanz88 commented on #8
I think you could check the `game_type` to determine if the game was rained out or not.

Also, I do not know if I want to make the requests silently fail. Without showing the error message, it could break parts of programs when they try to use what is returned from the function.

[2016-05-17 18:12] rationalpastime commented on #8
Alright I'll give that a shot. I get not wanting errors to silently fall, though I thought it might be possible to  catch them, return a message and then continue on with a routine. Maybe not. I'm a novice coder.

[2016-05-17 18:16] zachpanz88 commented on #8
I think it would be more beneficial for the user to try/catch so they at least know that something didn't work right.

Also, thanks for using mlbgame.

[2016-05-17 22:25] #8 closed

[2016-05-18 03:10] rationalpastime commented on #8
In case anyone runs into the same trouble I did, I thought I'd post the workaround I'm using. I use the mlbgame.game.scoreboard module to generate a list of game IDs with finals. For instance, for the games of May 16, 2016, I use:

[code]

This creates a list of MLB Game IDs named `finalgames` that only includes IDs from games with finals. That list doesn't always play nice with other modules, but

[2016-05-27 19:53] DaltheCow opened #9 "Cannot pip install mlbgame"
"error: could not create '/System/Library/Frameworks/Python.framework/Versions/2.7/docs': Permission denied

and after that message, it prints:

Command "/usr/bin/python -u -c "import setuptools, tokenize;__file__='/private/var/folders/7t/2vyvr6056v553r15xpx0gjl00000gn/T/pip-build-Y2rvAh/mlbgame/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r\n', '\n'), __file__

[2016-05-27 23:07] zachpanz88 commented on #9
Try `sudo pip install mlbgame`. If you can't install with pip, you can always download a zip [here](https://github.com/zachpanz88/mlbgame/releases).

[2016-05-28 05:11] DaltheCow commented on #9
I swear I tried that already and it didn't work but I tried it again and it
worked, thanks!

On Fri, May 27, 2016 at 7:07 PM, Zach Panzarino <notifications@github.com>
wrote:

[2016-05-28 13:58] #9 closed

[2016-05-30 01:44] illonks opened #10 "Pitcher stat - Innings Pitched"
Hi, is there a way to get innings pitched using this library? It looks like the xml data that you get doesn't even contain this data?

[2016-05-30 02:56] zachpanz88 commented on #10
The data provided actually includes the outs that a pitcher has recorded in the game (property named `out`). You can divide this number by 3 to find the number of innings pitched, as full innings will divide evenly and others will be divided into thirds, which is the most common way of measuring partial innings pitched.

[2016-05-31 01:33] #10 closed

[2016-06-28 14:27] FlowFX opened #11 "Probable starting pitcher"
This project is awesome. Thank you so much!

Is there a way to find the probable starting pitcher for today's games? They are displayed on mlb gameday.

[2016-06-28 15:06] zachpanz88 commented on #11
I'm not sure right now, but I will look into it and get back to you soon.

[2016-06-28 15:17] zachpanz88 commented on #11
After looking into it a little more, the file changes too much during the game and after the game so it can't be used in mlbgame. If you want to get this data on your own, it is available in linescore.xml for a game that has not been played yet.

Here is an example (just change the date and game id to match):
http://gd2.mlb.com/components/game/mlb/year_2016/month_06/day_30/gid_2016_06_30_lanmlb_mi

[2016-06-28 15:35] FlowFX commented on #11
Thanks for the info! linescore.xml looks good. Probable starting pitcher is really only useful before the game starts. No need to put it into the mlbgame data. I'll have a PR for you, eventually. But it will take a while before I get to that part of my project.

For past games the starting pitcher is always the first pitcher in the pitching stats for that game, correct?

[2016-06-28 15:52] zachpanz88 commented on #11
Yes, they are in order of which they appeared in the game so the starter is first.

[2016-06-28 15:52] #11 closed

[2016-07-06 02:58] nathancarroll opened #12 "Attribute 's_hr' for pitchers"
The docs list 's_hr' as an attribute for both batter and pitcher objects, but it doesn't seem to exist for pitchers.

[2016-07-06 03:18] zachpanz88 commented on #12
Fixed in commit 2f08e213eac72316a53ecc4b8cfc611548515866 and will make it into the next release. Thanks for reporting this issue!

[2016-07-06 03:18] #12 closed

[2016-07-07 19:23] rationalpastime opened #13 "Venue"
Any chance that future updates will parse the venue value from linescore.xml?

Of course, 99% of the time, the venue is just the home team's park, but having venue data would help sort out games like last Sunday's Marlins-Braves contest at Fort Bragg, and the occasional overseas/Puerto Rico contests.

In my case, I use (your excellent) mlbgame in a workflow that includes park adjustments for playe

[2016-07-07 20:15] zachpanz88 commented on #13
First, that's awesome that you are using this API in a workflow! I will work on parsing the venue and will send out a release sometime within a week or two.

[2016-07-08 02:20] zachpanz88 commented on #13
Just checked out www.rationalpastime.com, it looks really awesome! I will be consistently checking it throughout the season. Great use of the API!

[2016-07-08 02:22] rationalpastime commented on #13
Much appreciated. I was planning on using the package for some time, but
when my kid was born and I no longer had time to manually input the data
into excel every morning, I decided I had to buckle down and go all Python
on that bad boy.

On Thursday, July 7, 2016, Zach Panzarino <notifications@github.com> wrote:

[2016-07-19 15:46] zachpanz88 commented on #13
I have finished implementing this feature in e863b95d309d3b36c19fad3db52875cd5eae297d. I will release a new version later today/tonight (2.2).

[2016-07-19 15:46] #13 closed

[2016-07-19 18:07] zachpanz88 commented on #13
Just released the new version, feel free to update. The new overview function is what you will be looking for. Hopefully it works for what you need.

[2016-07-21 14:21] rationalpastime commented on #13
Awesome. Thank you for this.

On Tue, Jul 19, 2016 at 2:07 PM, Zach Panzarino <notifications@github.com>
wrote:

[2016-08-26 21:38] FlowFX opened #15 "mlbgame.day from the future"
Why? It works for me if I change the code. But you probably have a reason.

[2016-08-26 22:37] zachpanz88 commented on #15
Honestly, I did not think that there would be data for the future. Future games may not have certain attributes that completed or in progress games have, but I am not totally sure. I'm going to investigate and update accordingly.

[2016-08-27 00:42] FlowFX commented on #15
Looking at http://gd2.mlb.com/components/game/mlb/year_2016/month_08/day_28/scoreboard.xml and http://gd2.mlb.com/components/game/mlb/year_2016/month_08/day_28/gid_2016_08_28_balmlb_nyamlb_1/linescore.xml I don't see a difference between these and those PRE_GAME on the day of the game.

I'd be fine with just getting all games of the upcoming series.

[2016-08-29 15:21] zachpanz88 commented on #15
I am currently working on allowing dates in the future without breaking the current API.

[2016-09-29 22:57] April29th commented on #15
Any progress on getting it to work with future dates? I'm very interested in being able to have it at least catch the pitching matchups & game start times. In another month or so, I'm going to have a bit of free time & am thinking of helping out with the whole project. I've had a similar project I started but had to put aside and now I'm thinking it would be better to work with this instead of dup

[2016-09-29 23:46] zachpanz88 commented on #15
Honestly, I haven't really worked on this much over the last month. I will be resuming development of the project and hopefully adding some new features and ci tests.

@April29th, if you are interested in contributing to the library I would love to have help.

[2016-10-31 14:48] zenverak opened #16 "Issues with getting teams and differentiation"
So far this is excellent but I don't see an easy way to do a few things

1. Get a list of active teams in the league. Something like   teams = mlbgame.teams
2. Differentiate between regular season and preseason games without specifying exact dates. Right now all  game.game_type show is 'go_game' .  This may be an issue with the source data.

Is this something I am missing?

[2016-10-31 16:44] zachpanz88 commented on #16
1. I am not sure that I can dynamically update that from mlb.com, but I can try to see if there is a way to implement all the teams as a list
2. If the games show up as go_game, that is the information that I receive from mlb.com. I am currently refactoring the game code and seeing if there is extra information that I can pull from mlb.com

[2016-10-31 16:55] zachpanz88 commented on #16
Update: It looks like I am able to get team data from mlb.com and I will work on implementing that into the api: http://mlb.mlb.com/properties/mlb_properties.xml

[2016-10-31 16:57] zenverak commented on #16
Thanks man. I greatly appreciate it. So far I am enjoying using it as its extremely similar to nflgame so once I get the data in the format I want, I can use my existing code.

[2016-10-31 17:29] zachpanz88 commented on #16
Awesome, I designed this library after nflgame, which I had used in one of my own projects.

[2016-10-31 17:31] zenverak commented on #16
Yeah, thats one of the main things I noticed.  In the end I am trying to find something like this for all of the sports so that I can get the data into a form I want so that I can do some 'analysis' on it. Right now its not anything statistical, but once I get more sports in I think I'll try and branch it into something that has some 'prediction power'.

[2016-11-02 20:10] zenverak opened #17 "Issue with random game IDs"
I am currently looping through games in a season to gather data. I then use that game id to generate some more data.

Note the following game IDs

[code]

When I run
[code]

everything is fine up until the last id

```2016_04_04_houmlb_nyamlb_1```

I get the following error

```Could not find a game with that id.```

Any idea how that can happen? The id is generated from the game object itself. Se

[2016-11-03 01:50] zachpanz88 commented on #17
Chances are that those games were cancelled. Can you check if the game type is `sg_game`? This game type means that the game wasn't played, which could lead to these errors.

I will investigate further.

[2016-11-03 12:03] zachpanz88 commented on #17
So the games that you are getting an error with are games that were not played. Unfortunately, to check this on the API side would be too inefficient for a majority of users and should be done by the client.

In this case, you should check the type of the game and if it is `sg_game`, do not try to get stats for that game because they don't exist.

[2016-11-03 12:03] #17 closed

[2016-11-09 16:16] zachpanz88 commented on #16
I have added this functionality in the dev branch. Feel free to clone that and test it out. This functionality will officially be released in the next release (probably 2.3.0) which will be coming out very soon.

[2016-11-09 16:17] zachpanz88 commented on #15
I have added this functionality in the dev branch. Feel free to clone that and test it out. This functionality will officially be released in the next release (probably 2.3.0) which will be coming out very soon.

[2016-11-09 16:23] zachpanz88 opened #18 "Update Script Day Bug"
The update script will stop at whatever the end day of the month is, regardless of whether it is the last month or not. For example, if the end date is set to 11/2/2016, the script will only save the first two days of each month in 2016, when it really should save all of the days in those months (other than Nov).

[2016-11-09 22:38] #16 closed

[2016-11-09 22:38] #18 closed

[2016-11-09 22:39] #15 closed

[2016-11-19 18:48] CandyOates opened #19 "Game Events Error"
Hi zachpanz88,

This is a very nice API. However, I notice that in events.game_events you have an error which causes the bottom of the inning to save the values for the top of the inning.

        # loop through the bottom half
        bot = x.findall('bottom')[0]
        for y in bot.findall('atbat'):
            # top info
            botinfo = []
            # loop through the top half

[2016-11-20 16:34] zachpanz88 commented on #19
Yes, I think I lazily copied and pasted code from the top of the inning but forgot to change some values. I will fix this very soon.

[2016-11-23 02:36] #19 closed

[2016-12-21 21:26] CandyOates opened #20 "Player Info"
Hi zachpanz88,

Is there a way to get basic information on the players through mlbgame?

For example, I have the player's id number, can I do something like mlbgame.player_info(player_id) to get a dict(Name="Cal Ripken", Throws="R", Bats="R", Team="Orioles").

Aside from this, the module leaves nothing to be desired :)

Thanks,
Andrew

[2016-12-22 01:32] zachpanz88 commented on #20
@CandyOates I'm glad you like the library. As for player information, I have looked briefly for a way to get that information in the past, but I will search again now. I agree that it would be very useful to have the information on a player, and mlb.com must have this data stored somewhere (not sure if public) so there is a good chance I will be able to implement this feature.

[2016-12-22 15:05] CandyOates opened #21 "Weather?"
Also, any chance there is basic weather information for the games?

[2016-12-22 15:36] zachpanz88 commented on #21
Not sure if there is any weather information but I will look.

[2016-12-23 23:49] zachpanz88 commented on #20
I've done some searching and I am unable to find player information from the same source that I get the rest of the information (http://gd2.mlb.com/components/game/mlb/). It appears that each player is assigned to a different id for each game they play, and that id is only useful for getting stats for that single game.

So it looks like I will not be able to add this as a feature. If I notice anyt

[2016-12-23 23:49] #20 closed

[2016-12-23 23:54] zachpanz88 commented on #21
Unfortunately I have not been able to find any information on the weather for games.

However, I think that there could be a little workaround: Since mlbgame provides the date, time, and location of the game, you could use a different weather api to retrieve weather information at that time.

[2016-12-23 23:54] #21 closed

[2017-01-10 00:31] noelvillaman opened #22 "mlbgame, python, django"
I am using mlbgame for python and I am getting some data that I do not now how to manipulate. Can you direct me to the right track please.

Here is my view on Python, Django.

import mlbgame

def baseball(request):
games1 = mlbgame.day(2017, 8, 10)
angels_game = mlbgame.games(2017, home='Angels', away='Angels')
return render(request, 'home/baseball.html', {'games1': games1, 'angels_game': angels_g

[2017-01-10 04:50] zachpanz88 commented on #22
@noelvillaman If you want to find out the attributes of the first game in the `angels_game` object, you can use `__dict__` to print a dictionary of the object properties: `print angels_game[0].__dict__`

[2017-01-17 14:38] zachpanz88 commented on #22
In addition, all of the documentation along with the project code can be accessed at http://panz.io/mlbgame

[2017-01-17 14:38] #22 closed

[2017-02-02 18:55] noelvillaman commented on #22
Thanks,

My problem was solved. Now I would like to find the dates where there is not game. For example,
for game in games:
     if game.date.day == "No return, i do not know how to put it"
          Here, I would like to do something with a td. I am just replicating the schedule of the http://losangeles.angels.mlb.com/schedule/index.jsp?c_id=ana#y=2017&m=4&calendar=DEFAULT

I have a bunch of <td>

[2017-02-07 20:49] gman2691 opened #24 "XML"
The examples of your program on GitHub have an XMLSyntax Error

[2017-02-08 18:32] zachpanz88 commented on #24
@gman2691 can you please provide a direct example of where this occurs

[2017-02-10 04:56] gman2691 commented on #24
The teaser code that you posted to find all of the scores in the Mets games.

[2017-02-10 17:00] zachpanz88 commented on #24
@gman2691 I'm not getting any error, can you please post the error response you are getting?

[2017-02-13 01:39] jimluke827 commented on #24
I get this error lxml.etree.XMLSyntaxError: Start tag expected, '<' not found, line 1, column 1

[2017-02-13 13:13] jimluke827 commented on #24
full copy:

Traceback (most recent call last):
  File "C:/......../main.py", line 5, in <module>
    month = mlbgame.games(2015, 6, home="Mets")
  File "C:\.........\__init__.py", line 205, in games
    game = day(i, y, x, home=home, away=away)
  File "C:\..........\__init__.py", line 175, in day
    data = mlbgame.game.scoreboard(year, month, day, home=home, away=away)
  File "C:\................

[2017-02-13 17:23] zachpanz88 commented on #24
@jimluke827 I'm not getting that error at all, it could be an issue with lxml. Can you try updating both mlbgame and lxml to the latest version?

[2017-02-13 18:01] jimluke827 commented on #24
@zachpanz88 I am at the latest version of each.

[2017-02-13 23:38] jimluke827 commented on #24
@zachpanz88 I was using Python 3, I used python 2 and had a ton of trouble getting libxml2 to install, but once I got that all set everything is working

@gman2691 see above if you are using wrong version of python

[2017-02-14 01:52] zachpanz88 commented on #24
@jimluke827 that might have been the issue. I've only been testing on python 2, so I'll check out the issue on python 3.

[2017-02-14 02:03] zachpanz88 commented on #24
Again, I do not seem to get the error when I am testing with python 3.

@jimluke827 Is there any way you could fill in part of that "......" so I can diagnose what day the information is coming from? I just need the "month_06/day_xx/" part.

Just to be clear, we are talking about this example, correct?
[code]

[2017-02-14 13:10] jimluke827 commented on #24
@zachpanz88 I don't have the error anymore, but I just used the exact examples that were shown in the readme, neither worked and both gave the same error.

[2017-02-14 14:01] zachpanz88 commented on #24
@jimluke827 I noticed from your error messages that you are using Windows. I have been testing everything on Linux, which handles .tar.gz much better than Windows. The problem could have arisen from Windows not being able to handle the compressed files, so I'll run some tests on Windows.

[2017-02-15 13:27] jimluke827 opened #25 "Question: How do I pull a players stats for the entire year?"
Wasn't sure how to mark this as a question, it's not an issue.

How would I code in getting a players stats for the 2015 season for example?

[2017-02-15 18:05] zachpanz88 commented on #25
@jimluke827
I think you would have to get the data for all of the player's team's games throughout the year with `games`. You would then loop through the games and use the `game_id` to get the player's stats for the game. Then, you can `combine_stats` for each game and search through that list for the individual player's stats. That would be the basic way to get the individual stats for each game,

[2017-02-15 18:41] jimluke827 commented on #25
@zachpanz88
thank you for that response, very helpful. I'll let you know if it gets me anywhere.

What I basically want to do is populate a list of the players season stats (that are available 2012-present). And start created charts/graphs with a stat like BABIP so I can see how is kind of "due" for large positive & negative regressions.

[2017-02-15 20:31] jimluke827 commented on #25
@zachpanz88
You "s_" suggestion is working great. I would like to be able to get "s_ab". I am not the best python user (I just started learning). Is there a way I can get that to populate by adding it to the statmap (and probably elsewhere to collect the data)?

[2017-02-15 20:58] zachpanz88 commented on #25
@jimluke827 the statmap file only provides a directory of stats and what they mean, so a stat may appear that isn't documented in there (such as `s_ab`). If there is no `s_ab` property of the object that is returned, it means that mlb.com does not provide it. However, to get season at bats  you can just divide season hits by batting average (`s_h/avg`), which I believe are both provided.

[2017-02-27 16:49] rhoffer21 commented on #24
Expanding on this, I also had the same issue.  I believe it is related to the .gz compressed xml files in a windows environment. I was eventually able to remedy the issue by moving the archived gameday-data to a backup folder which forced the wrapper to make calls to the server instead of using the archived xml data.

I unfortunately don't have a better work around to offer at this time, other tha

[2017-02-27 17:47] zachpanz88 commented on #24
@rhoffer21 I will try to find a better compression format for windows (probably zip). I will also build a delete function into the update module that will allow you to remove all downloaded data.

[2017-03-01 04:17] panzarino commented on #25
@jimluke827, did my suggestion work for you? If so, can this issue be closed?

[2017-03-01 13:21] jimluke827 commented on #25
Yes, this can be closed, thank you.

[2017-03-01 13:21] #25 closed

[2017-04-02 09:14] jethrolam opened #27 "Q: Current Team Roster"
I am wondering how to retrieve the current roster for each team?  This information is not related to any stat or game, and I also can't find such information from mlbgame.teams().

I believe I can estimate the current roster by looking at the player_stats() of the most recent played game.  But again, that will be an estimate.

Thank you for creating this wonderful API.

[2017-04-02 14:18] panzarino commented on #27
I'm not sure if there is a way to get this information, but I will look around to see if mlb has the data somewherr

[2017-04-17 02:41] digitalSaint commented on #27
Looks like `players.xml` in the game directory contains the coaching staff, bullpen catchers, 25-man roster plus anyone on the DL.

Here's an example: http://gd2.mlb.com/components/game/mlb/year_2017/month_04/day_15/gid_2017_04_15_houmlb_oakmlb_1/players.xml

http://mlb.mlb.com/mlb/fantasy/injuries/#team117
http://mlb.mlb.com/mlb/fantasy/injuries/#team133

I haven't found a simple way to get the 4

[2017-04-17 03:00] panzarino commented on #27
That's on a per game basis, but I guess mlb.com must just use the data from the most recent game, so they keep creating a new xml file for each game rather than update a centralized one (I assume). That makes it a lot harder to consistently be able to get the most up to date roster, as the only way to get it would be that 25-man roster from the most recent game.

Not sure how I should go about imp

[2017-04-17 03:23] digitalSaint commented on #27
@panzarino Have a look at this: https://github.com/wellsoliver/py-mlb/blob/master/py_mlb/fetcher.py#L18

http://mlb.mlb.com/lookup/json/named.roster_40.bam?team_id=117

[2017-04-18 01:26] panzarino commented on #27
@digitalSaint very interesting... I will definitely work on implementing that relatively soon.

[2017-04-18 01:50] #24 closed

[2017-04-18 01:57] panzarino commented on #24
Released in [2.3.2](https://github.com/panzarino/mlbgame/releases/tag/v2.3.2).

[2017-04-20 16:15] FlowFX commented on #11
I just saw that the probable starting pitchers are now available. Thank you!! :D

[2017-04-28 20:59] 4score opened #29 "Month "7" is failing for any year given in mlbgames.games()"
Hey guys,

I'm running into a problem getting game information for the month of July. Whenever I run:
[code]

I get this error:

[code]
Any idea what this could be?
Thanks for the help

[2017-04-28 23:57] panzarino commented on #29
I'll check it out

[2017-05-04 23:58] FlowFX commented on #29
I can confirm this error.

[2017-05-07 14:48] FlowFX opened #30 "Groundouts-flyouts in pitcher results?"
On mlb.com, they show the number of flyouts and groundouts for each pitcher.

![screen shot 2017-05-07 at 09 43 01](https://cloud.githubusercontent.com/assets/800345/25782130/d3999ed8-3309-11e7-9bdf-4f60e39b6ee6.png)

I can't find these in the player_stats. Does the API provide this information at all?

[2017-05-07 21:22] panzarino commented on #30
@FlowFX I am not sure, I will check it out.

[2017-05-11 05:36] digitalSaint commented on #30
@panzarino `rawboxscore.xml` contains that info.

[2017-05-11 18:49] chrissmithto commented on #29
Yep, I am having the same issue.

[2017-05-11 19:08] chrissmithto opened #31 "Question: League Standings"
I hope this is the proper place to ask a question. If not please forgive me. I have been playing around with mlbgame and am looking for a way to generate the current standings by league and division. Is this at all possible?
Example:

American League East
1 Yankees     21-10
2 Orioles      21-11
3 Red Sox    17-16
4 Rays         17-19
5 Blue Jays 13-21
......

[2017-05-12 04:15] digitalSaint commented on #31
It is possible to get the information as a json payload, but not currently a part of the mlbgame code base. It could be added as a new feature, I'm sure. If I get some spare time, I'll look making a pull request if @panzarino doesn't get to it first.

[2017-05-12 11:16] panzarino commented on #31
@digitalSaint I would definitely accept a PR with this functionality.

[2017-05-12 17:18] FlowFX commented on #29
The bug is in `mlbgame.game.scoreboard` and occurs for game days _without_ any games scheduled. That's why it happens in July (all-star break) and October.

![screen shot 2017-05-12 at 12 13 34](https://cloud.githubusercontent.com/assets/800345/26008983/83f5bb26-370c-11e7-9915-e4def2dc7359.png)

The parsed scoreboard data `root` is not empty. Therefore the `for game in root` loop runs, doesn't fin

[2017-05-12 17:52] FlowFX opened #32 "Player ID for probable starting pitcher"
In `game.scoreboard` the names and win/loss records of the probable starting pitchers are added to the game data.

[code]

How could I add the player ID for the starting pitchers? I see them in the `linescore.xml`, but just adding

[code]
doesn't work. Which data file is read here exactly?

[2017-05-12 22:53] panzarino commented on #32
It is using `scoreboard.xml` which contains all the games for that day (it is not in a subfolder with the specific game). I'll look into seeing if there is a way to get the probable pitcher id from that file, and if there is not, I will get it from `linescore.xml`.

[2017-05-12 22:54] panzarino commented on #29
@FlowFX great! I'm planning on working tonight on the library and I will try to fix that bug with a new release coming sometime tomorrow.

[2017-05-13 03:56] #29 closed

[2017-05-13 04:00] panzarino commented on #29
Just released in [v2.3.3](https://github.com/panzarino/mlbgame/releases/tag/v2.3.3).

[2017-05-13 12:53] FlowFX commented on #29
Awesome!

[2017-06-25 16:07] bradleyhurley commented on #31
Should this issue be closed?

[2017-06-25 16:11] panzarino commented on #31
@bradleyhurley I'm going to close the issue once standings are implemented into an official release (which should be coming soon).

[2017-06-25 17:47] panzarino commented on #32
@FlowFX if you want to continue contributing in the future, I have set up a mlbgame Slack that you can join through this link: https://join.slack.com/mlbgame/shared_invite/MjAzMjY1MjkwOTAwLTE0OTg0MTI2MjAtMzc2NjJlMzhmYw

[2017-07-27 11:13] joecaraccio opened #44 "Way to find Handiness of the Player?"
Hi There,

This is less an issue and more a question.. is there anywhere in this library where you can retrieve if a batter is right handed or left handed?

This library is so awesome. Thanks so much!

[2017-07-27 17:51] #44 closed

[2017-07-27 21:09] panzarino commented on #44
@joecaraccio I believe this is being added with the new rosters feature that will be released soon.

[2017-08-09 12:03] kylefrost opened #45 "Diamondbacks and Athletics cause empty result"
Love the API, but found a small problem. When filtering mlbgame.day() by home or away team, using "Diamondbacks" or "Athletics" will result in an empty set. This is due to the MLB's XML having these listed as "D-backs" and "A's", respectively. Just wanted to let you know in case you wanted to add something to account for it, or let people know in the docs. I'm sure this causes issues in other part

[2017-08-09 19:27] panzarino commented on #45
It will also affect `games()` for sure. I'll add something to the documentation in the upcoming release.

[2017-08-10 05:35] #45 closed

[2017-08-14 16:26] zacc opened #46 "Calling BatterStats on game 2017_04_01_pitmlb_tormlb_1 causes UnicodeEncodeError"
The accented character appears to be in the name of batter Elias Diaz.

Could this be handled properly?

[code]

[2017-08-14 22:16] panzarino commented on #46
I'll see what I can do. As far as I know, I think the system should just keep it in unicode in that case and I am not sure why it is not.

[2017-08-14 22:19] #46 closed

[2017-08-16 02:10] panzarino commented on #31
Closing even though the release has not happened yet (it is coming soon).

[2017-08-16 02:10] #31 closed

[2017-08-16 02:10] panzarino commented on #27
Closing since this has been implemented into `master`.

[2017-08-16 02:10] #27 closed

[2017-11-14 19:04] robotallie opened #47 "What is an Injury object? How can it be accessed?"
I am trying to create a pandas dataframe of injuries from 2000-2017, with corresponding player profiles. I have a list of injury objects for each game, for each year,  but I hit a snag when I was looking for 2005 game data. There was an error for one of the URLs that raised an exception error and crashed the entire 2005 grab.

The challenge I'm having is trying to understand the injury() object. A

[2017-11-14 23:08] panzarino commented on #47
Do you have the exact date for the URL error? If you can provide me with that data, I should be able to look into it and see that the error is.

Documentation for the injury object can be located here: http://panz.io/mlbgame/info.m.html#mlbgame.info.Injury
This documentation contains all of the object properties for injuries.

Here is a small example of getting injury data:
[code]
And the output:

[2017-11-14 23:09] robotallie commented on #47
This really helps!
The date was March 8, 2005, I believe.
Thanks!

[2017-11-14 23:11] #47 closed

[2017-11-14 23:32] robotallie commented on #47
I want injury data for all teams for 2000, so I requested game data this way:
`year_games_2000 = mlbgame.games(2000)
games_2000 = mlbgame.combine_games(year_games_2000)`

Then, to get corresponding injuries info, where would I insert the game specific id to request injuries for 2005 in the following code snipped:

`injury_2000 = mlbgame.injuries().injuries'

Thanks!

[2017-11-14 23:35] panzarino commented on #47
I am not sure if that is currently an option. Currently, the injury function just gets current injury data. I will look into seeing if there is a way to get historical injury data for certain games or certain points in time.

[2017-11-14 23:38] robotallie commented on #47
That would be great. There are a few people that have created Excel sheets on their own with updates from other fans for years 2000 - 2017, but I'm hoping to do a machine learning classification analysis on injuries to predict the likelihood of a player being injured in any game based on other historical stats for that player and that game.

The API is awesome, by the way!

[2017-11-15 17:44] robotallie commented on #47
Having a little trouble getting player info from stats class:
I created a combined games list for 2003, then for each game, tried to get player stats but got an error message.

![mlbgame-stats-not-subscriptable](https://user-images.githubusercontent.com/25355300/32851296-97c0c004-ca02-11e7-9349-ef9bd026abd5.jpeg)

[2017-11-15 18:03] robotallie opened #48 "Stats Class not Accepting Subscripts"
Having a little trouble getting player info from stats class:
I created a combined games list for 2003, then for each game, tried to get player stats but got an error message.

![mlbgame-stats-not-subscriptable](https://user-images.githubusercontent.com/25355300/32851296-97c0c004-ca02-11e7-9349-ef9bd026abd5.jpeg)

The same problem happens when I try to replicate your example from the mlbgame modul

[2017-11-15 19:21] panzarino commented on #48
@robotallie I think you are looking at an outdates example (which is my fault that I have not updated it). Stats has been converted to an object rather than a dictionary. Therefore you should use ```stats.home_batting` rather than ```stats['home_batting']``` to achieve the same effect.

[2017-11-15 19:23] robotallie commented on #48
Fantastic. I notice that when downloading all the games for 2003, the list
has only a few games total. Does the API have only a selected set of games?

On Wed, Nov 15, 2017 at 2:21 PM, Zach Panzarino <notifications@github.com>
wrote:

[2017-11-16 01:39] panzarino commented on #48
@robotallie this API has all the data that mlb.com has so if mlb doesn't provide it then I don't have it. I guess mlb just doesn't have the data for 2003 (or the URL scheme is different, I've been using the scheme from 2015)

[2017-11-16 23:29] #48 closed

[2017-12-27 17:03] Mslaster opened #49 "Parsing top of inning twice"
It looks like, when parsing through game events, the events recorded in the bottom of the inning are repeated for the top.
![screen shot 2017-12-27 at 12 01 43 pm](https://user-images.githubusercontent.com/19195667/34387714-cacc28fa-eafd-11e7-9e94-3559ac99710f.png)
 I know that mlbam recently updated their api, so it could affect the formatting.

[2017-12-27 18:10] panzarino commented on #49
@Mslaster If MLB has recently updated their api, that is probably the issue. I will look into it. I would be happy to accept a pull request with the bug fix if you are interested in contributing.

[2017-12-28 15:30] Mslaster commented on #49
It looks like the raw file is still the same...not totally sure what the issue might be.

I know that MLBAM totally redid their api, with many more things over here : [https://statsapi.mlb.com/docs/](url), but looks like the structure is totally different.

[2018-01-17 05:26] Hisairnessag3 opened #50 "ValueError: Could not find a game with that id."
Whats causing this? Just started happening.

code:

import mlbgame
stats = mlbgame.player_stats('2014_06_07_miamlb_chnmlb_1')

for player in stats.home_batting:
print(player.h)

[2018-01-17 06:20] panzarino commented on #50
@Hisairnessag3 It appears that the game id is invalid, or there is no way to get data for that game. Either way, it appears that mlb does not have any stats information for that game id. My guess is that the game was cancelled (or something of the like) and therefore does not have any stats data.

[2018-01-17 06:56] Hisairnessag3 commented on #50
uh, I would take a look.

this code breaks with the same error:

def year_games(year):
    y = mlbgame.games(year)
    games = mlbgame.combine_games(y)
    for game in games:
        print (game.game_id)

    return games

games = year_games(2017)
for game in games:

    stats = mlbgame.player_stats(game.game_id)
    for player in stats.home_batting:
        print(player.h)
_______________________

[2018-01-17 06:58] panzarino commented on #50
Can you tell me what the `game_status` is for the games that are breaking?

[2018-01-17 07:04] Hisairnessag3 commented on #50
FINAL

[2018-01-17 08:16] trevor-viljoen commented on #50
It's an issue with `GAME_URL`. There is an extra `/` added which creates an invalid URL.

[2018-01-17 08:41] trevor-viljoen commented on #50
It looks like MLB made some changes to how they serve out the files. You can no longer browse directory structure of gd2.mlb.com. If you request the url with the extra `/`, you get something like this:
[code]

If you remove the extra `/`, you can retrieve the file. Another option is to use: `http://gd-terr-origin.mlb.com/components/game/mlb/` instead of `http://gd2.mlb.com/coponents/game/mlb/`.

[2018-01-17 19:13] panzarino commented on #50
Fixed in #51 and will be included in the next release coming soon.

[2018-01-17 19:13] #50 closed

[2018-01-17 21:51] Hisairnessag3 opened #52 "ValueError: Could not find a game with that id."
Running the same code as before:

[code]
and its breaking on random game ids when iterating through.

This one in particular breaks:

[code]

Status is also `FINAL`

[2018-01-17 22:32] trevor-viljoen commented on #52
Hmm... That status should be "OTHER".
[code]

[2018-01-17 22:34] Hisairnessag3 commented on #52
Whoops sorry, that one also breaks.

Here is the id I used: `2016_05_16_minmlb_detmlb_1`

[2018-01-17 22:40] trevor-viljoen commented on #52
@Hisairnessag3
@panzarino
It looks like MLB is actively making changes away from the old gd2.mlb.com way of doing things. I'll submit another bug fix for URLs, but some thought needs to be put into raising errors for games that were scheduled, but never played. There is a slight change to how URLs are being crafted for the new gd-terr-origin.mlb.com domain.

[2018-01-17 22:43] Hisairnessag3 commented on #52
Gotcha, I appreciate your help here. I'd be open to helping you out with that in the future

[2018-01-17 23:16] trevor-viljoen commented on #52
@panzarino Perhaps tag this for a v3 release.

It would probably also be wise to just make use of the MLB stats API to access the boxscore and any of the other endpoints we have custom code for, rather than dealing with these URLs that may or may not continue to change.

For example: https://statsapi.mlb.com/api/v1/schedule?sportId=1&date=05%2F16%2F2016 will give you the schedule for 05/16/2016 as

[2018-01-18 04:31] Hisairnessag3 commented on #52
Hmm still breaking here: `2016_04_02_milmlb_blxaax_1 15`

[2018-01-18 05:11] trevor-viljoen commented on #52
That's some weird spring training game. The actual boxscore is here: http://gd-terr-origin.mlb.com/components/game/aax/year_2016/month_04/day_02/gid_2016_04_02_milmlb_blxaax_1/boxscore.xml and not under the expected game/mlb location. More logic would have to be added to read the scoreboard xml and get the `game_data_directory` attribute in the `game` tag.

[2018-01-18 05:50] panzarino commented on #52
@trevor-viljoen @Hisairnessag3 I don't really have much time to maintain this library myself, but I would really be open to PRs if you guys are interested in joining the project.

[2018-01-22 02:15] ajbowler opened #54 "Runners on Base"
I'm currently working on an MLB scoreboard on an LED board in preparation for the upcoming season and am planning on using this very interesting API.

![image](https://user-images.githubusercontent.com/6600392/35202284-5890ec00-fee7-11e7-9272-be19fad2074d.png)

The above image is similar to what I'm going for here.

It'd be wonderful to get some data for occupied bases, balls/strikes count, and cu

[2018-01-22 02:49] ajbowler commented on #54
This will probably require some trial and error after the season starts to see how MLB's writeouts to the XMLs work during a live game but http://gd-terr-origin.mlb.com/components/game/mlb/year_2016/month_11/day_01/gid_2016_11_01_chnmlb_clemlb_1/inning/inning_1.xml might be of some use. Assuming their innings and at-bats are always sorted we could just traverse the tree to get the latest at-bat. I

[2018-01-22 04:37] trevor-viljoen commented on #54
If I remember correctly, there is a file that gets updated with that information during the game. It may be plays.xml, but I can't remember. Once spring training starts up I'll make note of it.

[2018-01-22 15:05] ajbowler commented on #54
@trevor-viljoen  I'll open a separate issue for balls/strikes/outs, I'd like to keep this one open for runners on base.

[2018-01-22 15:06] ajbowler opened #55 "Balls, Strikes, and Outs"
Splitting out from #54, it would be wonderful to get the balls/strikes/outs for an inning's current state.

@trevor-viljoen found a possible solution that we'll have to live test once spring training starts up.

`<status status="Final" ind="F" reason="" inning="9" top_inning="N" b="0" s="0" o="3" inning_state="" note="" is_perfect_game="N" is_no_hitter="N"/>`

[2018-01-22 15:37] panzarino commented on #55
@ajbowler The existing events module contains information about the balls strikes and outs for each at bat, and I am fairly sure that just getting the last at bat will provide you with the current (live) ball, strikes, and outs.

[2018-01-22 17:30] #54 closed

[2018-01-22 17:31] ajbowler commented on #55
@panzarino yes, it does look like the existing events module will work fine for this. Thanks!

[2018-01-22 17:31] #55 closed

[2018-01-22 18:24] trevor-viljoen commented on #55
@ajbowler
`mlbgame.game_events("2017_11_01_houmlb_lanmlb_1")[0].top[1]` would correspond to this event:
[code]

b1, b2, b3 are the bases. The number should be a player_id if you need that information. You can get it from `mlbgame.players(game_id).home_players` or `mlbgame.players(game_id).away_players`.

Something like this should work:
[code]

[code]

[2018-01-28 03:39] JonathanSFalk opened #57 "Away batting?"
Hi.  I just came across this fantastic piece of work today.  Thanks so much.  I'm fairly new to Python, but I can't figure out what I'm doing wrong.  This piece of code:
[code]
works fine
But this code
[code]
Never executes because away_batting is always empty.  I presume I'm doing something wrong, but if I'm not....

[2018-01-28 06:38] panzarino commented on #57
I think it should work, it may not since I recently changed the way that the algorithm works for that section. Are the away players showing up in the home section or are they just not there at all? Is this an issue isolated to a specific game or happening for all of them?

[2018-01-28 16:58] panzarino commented on #57
@JonathanSFalk I'll investigate more today and try to fix it, if I can't then I'll revert to the old version.

[2018-01-28 17:53] Fustrate commented on #54
You can also use linescore.xml's `runner_on_base_status` value like I did [here](https://github.com/Fustrate/baseballbot.io/blob/850164bad9b049be518c4273475523929493f8e0/lib/baseballbot/template/gamechat.rb#L100) if you're not interested in who exactly is on base. And actually, if you convert it to a ternary number, you can just check each trit to see if a base is occupied.

[2018-01-29 02:02] ajbowler commented on #30
@panzarino @trevor-viljoen I'd like to take a crack at this if you're cool with adding the feature.

I looked through the XMLs and indeed rawboxscore.xml is the only place I can find groundouts/flyouts (GO/AO). Do you have any concerns about adding the extra network call/XML tree parse?

[2018-01-29 14:24] panzarino commented on #30
@ajbowler Go for it! Would love to have a new feature for the library. For larger features, please try to keep the format similar to the way that the current functions work (although the design is not the best, I want to keep it consistent at this point).

[2018-01-29 14:39] ajbowler commented on #30
I'll add the two stats to the existing `player_stats` call, I'm not seeing any additional stats the extra XML file gives us at the moment but I'll keep an eye out and open new issues if the data contains any further value

[2018-01-29 14:54] panzarino commented on #30
@ajbowler If you're changing the `player_stats` call could you also look at #57? If not, I can fix it but I figured it would be an easy fix and you would need that to work in order to properly test anyway.

[2018-01-29 15:01] ajbowler commented on #30
It shouldn't impact either way since I'm grabbing stuff off the pitchers instead of the batters, but I can take a look while I'm in there.

[2018-01-30 03:52] ajbowler opened #59 "[Refactoring] Split out player_stats and team_stats into separate files"
The file's getting giant, if these two APIs are to be further enhanced it would be easier to maintain if they were split out.

[2018-01-30 17:34] #30 closed

[2018-01-30 17:34] #57 closed

[2018-01-30 21:21] ajbowler commented on #57
@JonathanSFalk can you pull latest master and give it another go?

[2018-01-30 21:49] panzarino commented on #57
@JonathanSFalk @ajbowler Adding on to that, a release with the fix should be coming by this weekend at the latest, theres a few more things I want to fix before releasing.

[2018-01-30 22:03] JonathanSFalk commented on #57
Should have time to look at it tonight.  Thx to both of you.

On Jan 30, 2018 4:49 PM, "Zach Panzarino" <notifications@github.com> wrote:

[2018-01-31 02:03] JonathanSFalk commented on #57
Works!  Thanks!

On Tue, Jan 30, 2018 at 4:49 PM Zach Panzarino <notifications@github.com>
wrote:

[2018-01-31 22:38] ajbowler commented on #52
I ran into this yesterday while trying to cycle through a list of games for a random day in 2017.

It's probably worth logging a new issue for migrating over to the Stats API (if it's ready and supports all of mlbgame's current features) and bumping the major version as @trevor-viljoen suggested above.

For now we could probably just return `None` instead of throwing the error?

[2018-01-31 23:40] trevor-viljoen commented on #52
The boxscore location is information we currently have available (`overview.game_data_directory`).  I haven't found a way to access it in the correct context, because it ends up causing circular imports.

[2018-02-01 02:41] panzarino commented on #52
@ajbowler I feel like returning `None` wouldn't really change the functionality. In that case, you would still have to test if the response is `None`, where in this case you can just try/catch so I don't really see the advantage in changing to `None` other than avoiding the error.

[2018-02-01 22:32] trevor-viljoen commented on #52
@ajbowler So, there's a catch 22 here with retrieving the game data if the game isn't a common MLB team v MLB team game. You need the overview in order to get the `game_data_directory` attribute and you need the `game_data_directory` attribute to get the overview URL. I'm not sure how to proceed here. I'll have to do some more digging/thinking. Hopefully others have some ideas.

[2018-02-02 00:16] panzarino commented on #52
@trevor-viljoen I would be good with upgrading to the new stats API, but I feel like now that there is an easy API this service is useless. I built it because it was difficult to parse the xml and organize it, but a json API greatly reduces the need for the middle man.

[2018-02-02 00:25] ajbowler commented on #52
It depends if the new API has all the existing data that this module needs. If it doesn't, then it ain't ready to migrate IMO but that's your call. If it _does_ have everything, then I still find a huge value out of this module because it allows a nice abstraction away from hitting the API directly and allowing consumers to just stick to their program.

As it is, this library is nice because it pa

[2018-02-02 02:09] trevor-viljoen commented on #52
@panzarino I agree with @ajbowler. This module still serves a purpose in the python community, wrapping the JSON API into python objects. It reduces unnecessary code and allows one to just import an easy to use python module which neatly handles all of the dirty work. I wouldn't want to write redundant code every time I wanted to go out and pull JSON from MLB. You've done really great work here.

[2018-02-02 03:44] ajbowler commented on #52
@trevor-viljoen do you have a link to their new API? I've been unable to find anything other than a StatsAPI login that doesn't give an option to register.

[2018-02-02 05:51] panzarino commented on #52
@trevor-viljoen Great! I'll open the branch soon.

[2018-02-02 16:17] trevor-viljoen commented on #52
@ajbowler Try this: https://statsapi.mlb.com/docs/#!/

[2018-02-03 05:16] ajbowler commented on #52
@trevor-viljoen Thanks, that link works.

The docs are really bare bones on there and this API looks really WIP at the moment, but if they flesh this out more then having a JSON API would be awesome. I tried something simple like the standings endpoint but can't figure it out. What the hell is a "league ID"?

I've just added displaying MLB standings as a feature to my LED scoreboard. If that endpo

[2018-02-03 05:49] panzarino commented on #52
@ajbowler Check out the current `league()` function, I'm pretty sure that it includes an id somewhere for the league, and that is probably the same id.

[2018-02-03 05:53] trevor-viljoen commented on #52
@ajbowler division and league IDs can be found here: https://github.com/panzarino/mlbgame/blob/master/mlbgame/info.py#L192-L219

I don't think the standings API is hot yet though. Try schedule: https://statsapi.mlb.com/api/v1/schedule?sportId=1&season=2017&date=07%2F04%2F2017

[2018-02-06 23:25] Bill-M123 opened #60 "Can't duplicate example results"
Before I start, a quick thanks for making this available.

I installed 2.4.2 today on my Windows 7 machine with a straightforward pip install and thought things were fine, but  I was unable to duplicate the results shown on the web.  I used this code:

game = mlbgame.day(2015, 11, 1, home='Mets')[0]
stats = mlbgame.player_stats(game.game_id)
for player in stats.home_batting:
    print(player)

and

[2018-02-06 23:43] panzarino commented on #60
When printing out an object, python automatically calls the `__str__` method (the same way `toString` works in Java). Each player is an object with multiple properties, its just that when the objects are printed it shows just their name.

[2018-02-07 14:08] Bill-M123 commented on #60
Thanks.  I was able to access the stats I was looking for through your stats module.  I'll use that for now come back to specialized print statements if necessary.  I said this before, but thanks again for making this available.

[2018-02-07 14:30] #60 closed

[2018-02-13 23:49] Hisairnessag3 opened #61 "Season stats not found"
So I have a simple loop looking for stats like so:

[code]

when I run this, it is giving me: `AttributeError: 'TeamStats' object has no attribute 's_h'`

Is this another break?

[2018-02-14 00:18] Hisairnessag3 commented on #61
Also I should probably make another issue for this but when iterating through stats for the year I get this traceback:

[code]

[2018-02-14 03:41] panzarino commented on #61
@Hisairnessag3 try updating to the latest version. I'm pretty sure a similar bug fix was just released. If that doesn't work, I'll look into it further.

[2018-02-15 02:25] Hisairnessag3 commented on #61
Yes, I am up to date.

[2018-02-15 09:56] trevor-viljoen commented on #61
The pitching `TeamStats` object doesn't have a `s_h` property. It comes from this line in the xml:
`<pitching team_flag="home" out="27" h="8" r="4" er="2" bb="3" so="11" hr="0" bf="39" era="1.50">`.

Each individual pitcher has a `s_h` property:
[code]

Here's a sample boxscore: http://gd2.mlb.com/components/game/mlb/year_2017/month_02/day_25/gid_2017_02_25_houmlb_detmlb_1/boxscore.xml

[2018-02-15 10:08] trevor-viljoen opened #62 "Rain delay to start game causes KeyError: 'home'"
Sample linescore:
[code]

Traceback:
[code]

I'm not sure how we want to handle this one. Perhaps add the `note` attribute and wrap some `try/except` blocks around the `home` and `note` variable evaluations?

[2018-02-15 15:53] cggarvey commented on #62
I think that makes sense. Defaulting to 0 probably makes sense (although technically it should be NULL/None until the inning begins). Something like this should work.

[code]

[2018-02-15 19:47] panzarino commented on #61
Closing as @trevor-viljoen has provided the correct answer.

[2018-02-15 19:47] #61 closed

[2018-02-15 22:40] Hisairnessag3 commented on #61
Any way to grab those types of season stats at the game level? Would be really helpful for what I am doing.

[2018-02-15 23:52] trevor-viljoen commented on #61
@Hisairnessag3 Something like this would probably work.

[code]

[2018-02-22 14:47] kcossel opened #63 "'module' object has no attribute 'day'"
I'm trying to run the sample script from the readme and keep getting the same error.

Traceback (most recent call last):
  File "mlbgame.py", line 2, in <module>
    import mlbgame
  File "/home/pi/mlbgame.py", line 4, in <module>
    game = mlbgame.day(2015, 11, 1, home='Mets')[0]
AttributeError: 'module' object has no attribute 'day'

I am using the newest version of mlbgame.  I have tried this

[2018-02-22 16:06] trevor-viljoen commented on #63
How did you install mlbgame? The easiest was is via pip. ```pip install mlbgame```

From your error, it looks like you created a file called `mlbgame.py` and with this code in it. Rename that file to something else and try again. Python is confused by the namespace, meaning your file has the same name as the mlbgame module you are trying to import classes from.

[2018-02-22 17:09] kcossel commented on #63
The filename was the problem, sadly this is not the first time I've done this.  It was trying to import itself.  Once I changed it the program ran.  Thanks.

[2018-02-22 17:22] #63 closed

[2018-02-27 00:13] Hisairnessag3 opened #65 "AttributeError: 'list' object has no attribute 'hbp'"
[code]

^ Getting this error on the player stats object

[code]

Also is there a way to grab or calculate advanced sabermetrics like wRC, FIP, wOPA, etc for teams(not players) on a game level basis. I am working on some ML models and that would be really helpful. Would do any API work myself just want to know if it can be done.

[2018-02-27 04:06] trevor-viljoen commented on #65
MLB doesn't provide this info as a team stat. You will have to calculate it per player:

[code]

[2018-02-27 04:12] Hisairnessag3 commented on #65
copy that! and

[2018-02-27 04:12] trevor-viljoen commented on #65
Sabremetrics would have to be calculated based on individual statistics and then summed. Fangraphs has some information on how to calculate stats like wRC, FIP, and wOPA. You should be able to build arrays and then build list comprehension summations from those individual stats.

[2018-02-27 06:00] panzarino commented on #65
@trevor-viljoen has provided the correct answer, closing.

[2018-02-27 06:00] #65 closed

[2018-02-27 06:03] #32 closed

[2018-03-01 23:33] Hisairnessag3 opened #66 "AttributeError: 'Overview' object has no attribute 'home_probable_pitcher_s_era'"
[code]

[2018-03-01 23:53] Hisairnessag3 commented on #66
is the wrong XML being parsed. I get the correct values here: http://gd2.mlb.com/components/game/mlb/year_2016/month_08/day_05/gid_2016_08_05_miamlb_colmlb_1/gamecenter.xml

[2018-03-02 02:24] ajbowler commented on #66
What's the game ID you're using for overview?

Also those changes were just merged into master a couple days ago, if you're using a released version of mlbgame those attributes won't work till next release.

[2018-03-02 06:35] trevor-viljoen commented on #66
Overview doesn't have a `home_probable_pitcher_s_era` key. It comes from `linescore.xml`: https://github.com/panzarino/mlbgame/blob/master/mlbgame/data.py#L80-L82

http://gd2.mlb.com/components/game/mlb/year_2016/month_08/day_05/gid_2016_08_05_miamlb_colmlb_1/linescore.xml

[2018-03-02 09:47] reverett4994 opened #67 "game status is 'PRE_GAME' even for games in past that are already completed"
To start let me say I am new to Python so the issue is probably something I missed but when getting scores for games before the 2018 year everything works as expected like so
month = mlbgame.games(2015, 6, home='Mets')
games = mlbgame.combine_games(month)
for game in games:
    print(game)

Giants (5) at Mets (0)
Giants (8) at Mets (5)
...

but when I change the date to anything this year like 201

[2018-03-02 14:23] ajbowler commented on #67
It's on MLB's end. I've experienced this as well and my guess is because it's spring training games so things are a little weird.

[2018-03-02 14:27] ajbowler commented on #66
@trevor-viljoen so games in the past won't have those attributes, but future games will (as of 3/2, this game is future http://gd2.mlb.com/components/game/mlb/year_2018/month_03/day_03/gid_2018_03_03_arimlb_lanmlb_1/linescore.xml)

I recently did https://github.com/panzarino/mlbgame/pull/64 which grabbed the home and away probable starter attributes and if they don't exist, they should all be defa

[2018-03-02 17:18] trevor-viljoen commented on #66
@ajbowler @panzarino Maybe we should create a FAQ for common issues/assumptions?

[2018-03-02 17:20] panzarino commented on #67
I assume it has to do with the games being preseason. I am not sure why MLB is not providing the correct data.

[2018-03-02 18:18] panzarino commented on #66
@trevor-viljoen FAQ could be a good idea. Will add these new stats in the next release.

[2018-03-02 22:34] Hisairnessag3 commented on #66
Copy that, just so you know where I am looking:

[code]

I need some of this data for stuff I am working on, so I might go ahead and make some changes to grab additional stats via those gamecenter, and linescore structures. Will submit a PR with the updates if that happens.

[2018-03-03 14:02] reverett4994 commented on #67
Thanks for the replies and insight, and for the awesome API!

[2018-03-03 14:02] #67 closed

[2018-03-03 15:24] msussman opened #68 "Game Attendance Data Availability?"
Wanted to reach out to see if attendance data was available through the API

[2018-03-04 02:05] panzarino commented on #68
@msussman I'll poke around and see what data MLB provides.

[2018-03-04 16:10] ajbowler commented on #68
I'm unable to find anything in the XML files around attendance, though the venue name is widely available.

[2018-03-04 16:17] ajbowler commented on #68
I'm digging around in their new stats API statsapi.mlb.com/docs but the lack of documentation isn't getting me very far.

I did find attendance in their live game endpoint, buried in an info property, here's a Dodgers @ Marlins game in 2016

[code]

It might be available through some smaller endpoints as this one is _ENORMOUS_, but would require some more research. As it is, I'm thinking this woul

[2018-03-04 17:57] trevor-viljoen commented on #68
It's available through `rawboxscore.xml`. Here's a random example: http://gd2.mlb.com/components/game/mlb/year_2017/month_04/day_16/gid_2017_04_16_milmlb_cinmlb_1/rawboxscore.xml

[2018-03-05 04:08] panzarino commented on #68
@trevor-viljoen If you have time, could you go ahead and add that in a PR. I don't really have much time but I could get to it if you can't.

[2018-03-05 04:13] trevor-viljoen commented on #68
@panzarino I'll try to find some time to do it this week. I'll also take a look at rawboxscore vs boxscore and see how different they are from each other. The fix might be as simple as using rawboxscore instead of boxscore.

[2018-03-06 00:51] Hisairnessag3 commented on #66
Quick question for you guys: Do you know any place to grab the hbp for pitchers?

[2018-03-06 21:25] trevor-viljoen commented on #66
@Hisairnessag3 Slack is probably a more appropriate place for questions and you'd get more eyes and a quicker response.

This would get you key, value pairs for pitcher player IDs and how many hit by pitch.  I don't see where MLB has supplied this information in any of the available XML files.

[code]

Or with a list comprehension
[code]

[2018-03-06 21:37] trevor-viljoen commented on #66
[code]
[code]
[2017 WS Game 7](https://www.mlb.com/gameday/astros-vs-dodgers/2017/11/01/526517#game_state=final,game_tab=box,game=526517)

McCullers hit 4:
[code]

[2018-03-06 23:36] Hisairnessag3 commented on #66
Whats the slack? Thanks, I am assuming I cannot grab the season HBP per game based on the xml(unless you can think of something), so I will calculate it per game and then sum after.

[2018-03-07 00:36] trevor-viljoen commented on #66
Slack: https://mlbgame-slack-invite.herokuapp.com/

The XML files used by `mlbgame` are the same files generated by the Game Day application during a given game. Season stats would be stored in a database and not generated at run time by the application. So any season stats shown in the app would likely be the result of an API/DB query made by the application.

I'm working on v3 of `mlbgame` which

[2018-03-07 22:31] jfeeneywm opened #69 "Is a way to get 'action's from game_events.xml?"
In __inning_info(inning, part) we use half.findall('atbat') this leaves us unable to see the 'actions' - things like substitutions, steals, etc.. That'd be helpful for what I'm trying to do.

I suppose we could just add another loop similar to the 'atbat' loop to __inning_info()? Would that work?

[2018-03-08 17:16] panzarino commented on #69
@jfeeneywm That could definitely be added, I'll look into it.

[2018-03-16 00:13] Pertempto commented on #68
Is anyone working on this? I've done some work with MLB's `rawboxscore.xml` and `boxscore.xml` in another project. I'd be interested in doing this.

[2018-03-16 02:07] ajbowler commented on #68
Have at it, I could use another release soon.

[2018-03-16 18:38] Pertempto commented on #68
Which class should the `attendance` attribute go in? Each of the classes is associated with a corresponding xml file in the MLB API: `Overview` goes with `linescore.xml`, `GameBoxScore` goes with `boxscore.xml`, and `GameScoreboard` goes with `scoreboard.xml`. I think attendance data would fit the best in the `Overview` class, where were you expecting it to go?

[2018-03-16 18:38] panzarino commented on #68
@Pertempto I think that it would fit well with the other stats provided by the `Overview` class.

[2018-03-16 18:54] Pertempto commented on #68
Great! I'm working on it now, and I'll probably have a pull request in the next few hours.

[2018-03-16 19:10] Pertempto commented on #68
I've implemented the attendance feature, but I was wondering if I should add all the top level attributes from the `rawboxscore.xml` to the game overviews. [Here](http://gd2.mlb.com/components/game/mlb/year_2016/month_08/day_02/gid_2016_08_02_nyamlb_nynmlb_1/rawboxscore.xml) is an example. This would add useful data like the weather, wind, elapsed time, and exact start time. The only problem I fou

[2018-03-18 22:14] panzarino commented on #68
@Pertempto It would be great if you could add that. It is fine to have duplicate attributes, just report everything.

[2018-03-20 23:11] Pertempto commented on #68
@panzarino Where am I supposed to "report everything"? Is it as simple as adding the new attributes to the `Overview` docstring or do I need to document these new attributes somewhere else as well?

[2018-03-21 21:48] Pertempto commented on #68
I've created a pull request with all the new attributes. #71

[2018-03-21 23:24] johnsbr1 opened #72 "Player stats output for example does not match the expected output."
Player names and positions are still returned, but I am unable to access the batting statistics.

![image](https://user-images.githubusercontent.com/28379006/37742734-c6116ce8-2d34-11e8-9da8-d78bcfc2136a.png)

[2018-03-22 00:47] trevor-viljoen commented on #72
That's because you're only printing the player object which returns a formatted string with player name and position: https://github.com/panzarino/mlbgame/blob/master/mlbgame/stats.py#L269

This prints out key, value pairs for each player.
[code]

To access specific `player_stats` attributes:
[code]

For a list of those attributes, look at the output of the first loop I gave you or look here: http

[2018-03-22 01:10] johnsbr1 commented on #72
Thanks for the explanation!

[2018-03-22 23:17] irlrobot opened #74 "v2.4.2 returning 0 for all spring training games"
I noticed that all spring training games so far in 2018 are returning scores of 0 for all games. Not sure if there is something wrong with the module or with the MLB service? To repro try:

[code]

Output
[code]

[2018-03-22 23:59] trevor-viljoen commented on #74
MLB hasn't been updating scoreboard.xml during spring training.

http://gd2.mlb.com/components/game/mlb/year_2018/month_03/day_01/scoreboard.xml

[2018-03-23 00:11] trevor-viljoen commented on #74
This should get you the output you were looking for.
[code]

[2018-03-24 19:45] #74 closed

[2018-03-24 19:47] #68 closed

[2018-03-24 19:47] panzarino commented on #68
Merged

[2018-03-25 12:09] msussman commented on #68
Thanks all.  When are you planning on releasing a new version?

On Sat, Mar 24, 2018, 3:47 PM Zach Panzarino <notifications@github.com>
wrote:

[2018-03-25 16:03] ajbowler commented on #68
I could definitely use a 2.5. Only missing piece from the LED board before the regular season starts is the probable starters which is just waiting for a new tag.

[2018-03-25 18:05] panzarino commented on #68
I'll work on updating a few things and hopefully pushing out a new release in the coming days.

[2018-03-25 18:14] msussman commented on #68
Sounds great!  Looking forward to checking out the update.

On Sun, Mar 25, 2018 at 2:05 PM Zach Panzarino <notifications@github.com>
wrote:

[2018-03-26 19:46] panzarino commented on #68
@msussman Sorry to disappoint, but I just looked at my schedule and I have almost no time this week so I'll have to push it back to sometime next week.

[2018-03-26 19:59] msussman commented on #68
No worries.  I won't need it in earnest until next month

On Mon, Mar 26, 2018, 3:46 PM Zach Panzarino <notifications@github.com>
wrote:

[2018-03-27 10:11] nhiggs opened #76 "Is this possible: Players season stats up to a specific date in a season?"
Would it be possible to get a/each players stats at a particular point in time in a previous season?

For example, there was a game between the Cardinals and the Cubs on April 5th 2015. Would it be possible to somehow get what would have been the players season stats (2015) prior to that game?

My initial thought was to loop through each player in each teams roster, and then use player_stats() on

[2018-03-27 18:07] trevor-viljoen commented on #76
That would be the only way with the game day data. Keep in mind that there is the potential that the data would have some inaccuracies as you would have to tally it up yourself. There is a MLB Stats API, but it doesn't appear to allow for a date range, only seasonal and situational data.

April 5th, 2015 was opening day for the Cardinals, so there wouldn't be any season stats for them.

As an exam

[2018-03-28 04:44] #72 closed

[2018-03-28 04:46] panzarino commented on #76
@nhiggs Actually, any stats for a certain game that are prefixed with `s_` are the season stats up to that game.

[2018-03-28 10:00] trevor-viljoen commented on #76
@panzarino nice! Good to know. @nhiggs disregard my previous post.

[2018-03-28 15:27] trevor-viljoen commented on #76
Looks like you can get season BB, ER, H, IP, R, strike outs for pitching and season BB, H, HR, R, RBI, strike outs for batters. If you check that in post-season play, it will be for that series. If you need to calculate anything else, you'll have to use some code like I shared previously to compile the numbers.

[2018-03-28 17:50] nhiggs commented on #76
Thanks for the quick responses. This is actually amazing news for me... :)

[2018-03-28 17:53] panzarino commented on #76
Closing as it appears that this issue is solved 😄

[2018-03-28 17:53] #76 closed

[2018-03-29 02:58] dowski opened #77 "GameScoreboard.date is off by one hour for evening games"
Here's an example. The Indians' opener against the Mariners is at 10:10PM EDT tomorrow. However, `GameScoreboard.date` represents it as 9:10PM.

[code]

I'll get a pull request ready.

[2018-03-29 04:15] trevor-viljoen commented on #77
looks like this line: https://github.com/panzarino/mlbgame/blob/master/mlbgame/game.py#L214

If PM, it adds 11 rather than 12 hours.

[2018-03-29 07:59] trevor-viljoen opened #79 "rawboxscore.xml may not be available prior to a game"
Un-handled exception:

[code]

[2018-03-29 11:47] dowski commented on #77
Yep.

[2018-03-30 01:31] dowski commented on #77
Just saw this today.

[code]

Looks like there can be a space between the time and the AM/PM designation sometimes. I'll need to account for that.

[2018-03-30 02:30] dowski commented on #77
Updated the PR to account for that scenario.

[2018-03-30 03:36] bfox6 opened #81 "Add Current Situational Data"
Add data such as the current batter and pitcher.

Could possibly be added to the Overview class.

[2018-03-30 04:14] mccartneyb opened #82 "All example snippets returning None"
Question: New to python but this library seems amazing. I tried copying and pasting the sample code in the documentation but they return None. What am I doing wrong??

[2018-03-30 08:42] trevor-viljoen commented on #82
How did you install the module and how are you trying to run the sample code?

[2018-03-30 12:11] mccartneyb commented on #82
i installed it via pip install mlbgame and then ran pip install mlbgame --upgrade
mlbgame and lxml were both up to date.

I just copied and pasted the snippets from the documentation, and it returns None for each example:
`from __future__ import print_function
import mlbgame

month = mlbgame.games(2015, 6, home='Mets')
games = mlbgame.combine_games(month)
for game in games:
    print(game)`

[2018-03-30 12:37] MoonSungHoon opened #83 "standings not update"
`
import mlbgame
print(mlbgame.standings().divisions[0].teams[0].__dict__)
`
{'vs_left': '0-0', 'vs_central': '', 'home': '0-0', 'vs_right': '0-0', 'vs_division': '', 'vs_east': '', 'elim': '-', 'playoffs_flag_milb': '', 'extra_inn': '0-0', 'x_wl_seas': '-', 'playoffs_flag_mlb': '', 'gb': '-', 'interleague': '', 'division': 'National League East', 'is_wildcard_sw': 'Y', 'division_champ'
: 'Y', 'pc

[2018-03-30 21:26] trevor-viljoen opened #84 "Feature Request: MLB important dates"
As a developer, I would like a list of important MLB dates for a season, so that I can easily write code based on the start of the season, the preseason, before and after the All-Star Break and the start and end of the post-season.

@panzarino You can assign this to me if you want. I found a way to get this data.

[2018-03-30 21:30] trevor-viljoen commented on #82
Interesting. This is what I get. I pasted the sample code into `ipython`.

[code]

What does `print(month)` and `print(games)` output?

[2018-03-30 22:33] mccartneyb commented on #82
I’ll try as soon as I get home. Maybe it’s an issue with my python? I’m using PyCharm I do t know if that makes a difference either. Thanks for the speedy replies, I’ll get back to you as soon as I check!

[2018-03-31 02:05] mccartneyb commented on #82
I've tried again, and still return the same result: 'None'
I am using PyCharm 2017.3.4 Community Edition
Python 3.6

Here are links to both code and pip cmd line
[PyCharm](https://ibb.co/mY7s0S) (image link)
[pip](https://ibb.co/cdCQLS) (image link)

When I run that exact same code in IDLE, I do return results.. I don't know what would be different?
[IDLE](https://ibb.co/nQfO77) (image link)

[2018-03-31 02:12] mccartneyb commented on #82
Please disregard, I'm closing the issue. I refactored the project and called it something different, ran the same code, and returned reuslts in PyCharm now.. maybe it's my novice python exposure and I was overlooking something.. Thanks for getting back to me!

[2018-03-31 02:12] #82 closed

[2018-03-31 16:50] ajbowler commented on #84
This would be fantastic info!

[2018-04-01 07:10] panzarino commented on #83
@MoonSungHoon I am not sure why the standings did not update. In any case, this seems like it is an issue with mlb.com, not the library. I will look into it.

[2018-04-01 07:11] panzarino commented on #77
Merged.

[2018-04-01 07:11] #77 closed

[2018-04-01 07:11] panzarino commented on #81
@trevor-viljoen I don't really have time to do this, would you like to take a look at this?

[2018-04-02 06:02] trevor-viljoen commented on #81
@panzarino I'll try to get to it this week. I spent most of the day trying to refactor stats.py to fix the code climate findings. I think I have a solution, but there are a couple bugs I'm trying to track down with it.

[2018-04-05 17:16] #83 closed

[2018-04-05 19:05] thepulpit opened #86 "Trying to print all games in current month"
Hi, I am trying to do something similar to what is on the documentation with printing games, but I have used datetime to get the current month and year and use that to build the list of upcoming and recent games. However, whenever I try to print anything in the future or current timeframe, the line that calls mlbgame.games() does not ever complete running.

Here is what I have:

`from __future__ i

[2018-04-05 20:55] mccartneyb opened #87 "Combine Games - Month vs. Year"
how does the mlb.combine_games() work? i am able to run one month at a time, and get results almost instantaneously. I've even filtered it down game status != PRE_GAME, to exclude games that have not happened yet. However when i remove the month, and try to retrieve completed, 2018 games, it runs for over 15 minutes and I cant get anything to return. Any help would be much appreciated!

**one mont

[2018-04-06 01:31] trevor-viljoen commented on #86
[code]

It takes a while, but it looks like it runs. Part of the slowness is likely due to sequential downloads. I have some ideas to drastically speed that up, but I have some other PRs to finish before I could get to that.

[2018-04-06 21:58] panzarino commented on #87
@mccartneyb I don't think the issue is with combine games, I think the problem is that you are making too many requests to get data by getting an entire year.

[2018-04-09 16:00] bbennett36 opened #89 "What does the 'additional' player stats show that the regular ones don't?"
The `player_stats` module has the following stats available -
`home_batting`,
'home_additional_batting',
'home_pitching',
'home_additional_pitching',
`away_batting`,
'away_additional_batting',
'away_pitching',
'away_additional_pitching'

It looks like some of the stats in the 'additional'  method return contain the some ones from the regular stats method. I need to know which ones are the same and

[2018-04-09 17:10] bbennett36 commented on #89
@trevor-viljoen so if a stat is in both objects
 (using my example - away_pitching_s_bb & away_addtl_pitching_bam_s_bb),
 do you know if they will they ALWAYS contain the same value for that statistic in both objects?

If that's the case it will be easy for me to just merge and de-dupe. I was just worried that this will not always be the case.

[2018-04-09 17:55] trevor-viljoen commented on #89
@bbennett36 I believe they will always be the same. I'm not sure what MLB's reasoning is for having a `boxscore` and a `rawboxscore` containing lots of duplicate stats. One note of caution with the `s_*` stats, they are "season" stats, but "season" may be a given round of the playoffs. For instance, I believe in the World Series example above the `s_*` stats are only for the WS and do not include

[2018-04-09 18:39] bbennett36 commented on #89
@trevor-viljoen Sounds good, maybe ill run some testing to double check. Yeah I did see the 's_' stats from other closed issues regarding season to date stats but I don't really trust it which is why I was just going to calculate it myself.

I'll keep you updated on my findings since you are pretty much working on the same problems. I might be able to help you with the PR updates.

[2018-04-16 16:16] panzarino commented on #49
I believe that this issue was fixed somewhere along the line so I am closing this issue.

[2018-04-16 16:16] #49 closed

[2018-04-19 15:54] msussman commented on #68
@panzarino, I just updated to the new release and am finding some issues with the attendance implementation.

1. **Mixed Data Times**: When attendance is data is missing due to a double header, the attendance attribute is set to 0 (ex. Gameid 2011/07/02/pitmlb-wasmlb-1,  'attendance': 0), but when it's populated it's a string (ex. '2011/07/02/pitmlb-wasmlb-2', 'attendance': '39,636')

1.  Game Ids

[2018-04-19 16:00] panzarino commented on #68
@Pertempto could you look into this?

[2018-04-19 16:15] Pertempto commented on #68
@panzarino just updated my local repo, hopefully I'll be able to look at it in next week.

[2018-04-23 04:21] zaxcie opened #90 "Query related to year 2018 are much slower"
Every query related to the year 2018 are much slower than query related to other years.

Here is an example, but same pattern apply to every query I've tried.
[code]
Any idea why or suggestion?

[2018-04-26 23:57] #79 closed

[2018-04-27 04:42] dowski opened #92 "Stop converting HTTPError to ValueError in mlbgame/data.py"
Converting `HTTPError` to `ValueError` loses valuable information about the failure. If the `HTTPError` itself was allowed to be raised then callers could look at the status code and determine if they want to try the call again (in the case of a 5xx error) or stop trying (4xx error).

Or maybe it could raise new exceptions defined by the `mlbgame` library? `Fatal` or `Retryable`?

[2018-04-27 15:44] panzarino commented on #92
@dowski I would prefer to use a custom exception rather than a HTTPError.

[2018-04-27 17:16] matt9790 opened #93 "Overview of Game Doesn't Show TV_Station"
I am trying to write a code to show me the channel for today's Cubs game.  I tried this code to get the TV station for the game:

[code]

When I run this, I get:
**AttributeError: 'Overview' object has no attribute 'tv_station'**

The overview class, in game.py, shows that this should be a valid attribute.  Am I doing this incorrectly, or is this a no longer valid attribute?

Thanks for your time!

[2018-04-27 18:01] ajbowler commented on #93
Relevant file: http://gd2.mlb.com/components/game/mlb/year_2018/month_04/day_27/gid_2018_04_27_milmlb_chnmlb_1/linescore.xml

I don't see it in linescore.xml for games in the past, at least for this season. It is possible that MLB dropped the field from their dataset perhaps.

[2018-04-27 18:08] matt9790 commented on #93
Well shoot.

Thanks for the quick response!

[2018-04-27 18:08] #93 closed

[2018-04-27 19:49] trevor-viljoen commented on #93
@matt9790, add a feature request and I'll try to get to it when I have time. In the mean time, here's some code that will get the information you are looking for.

[code]

[2018-04-27 21:04] matt9790 commented on #93
I added this as a feature request (which means I opened an issue, I hope that is what you meant)

Thanks for the quick solution, it works perfectly!

[2018-04-27 21:04] matt9790 opened #94 "Feature Request: TV_Station"
Request to add TV_Station back to mlbgame.

Original issue here:  https://github.com/panzarino/mlbgame/issues/93

TV_Station used to be available on the Overview, but the overview no longer has tv_station.  The solution posted on the original issue works great!

[2018-04-28 19:01] lazuhrow93 opened #95 "base runners"
Hello, I am trying to get the current base runners of a game. I have game_id and the game is in progress but cant seem to find how to call that information.

Thanks.

[2018-04-28 19:11] lazuhrow93 commented on #95
Actually I JUST found it. Its not on the overview object docuemtation I see here: [](http://panz.io/mlbgame/game.m.html). I saw on somebody's project using this API that they used "runner_on_1b". Whenever I tried it, it would say overview object does not have this value. But when I ran it when 1st base was occupied in game, the object did have this property. So I am guessing that this value only e

[2018-04-28 19:12] #95 closed

[2018-04-28 20:33] chisox721 opened #96 "Help"
Hi there-I'm still in the process of learning Python so apologies if my problem is rudimentary but I downloaded mlbgame via pip (it does show up in my files with all contents) and that's about as far as I've gotten. To test it out I created a py file using the initial Mets home games example and after attempting to execute it in PowershellI I received this response: "AttributeError: module 'mlbgam

[2018-04-28 20:46] panzarino commented on #96
I am not sure why this is happening, as it appears to be a local issue. If I had to guess, its because you have either a folder named `mlbgame` or a file named `mlbgame.py`.

[2018-04-28 20:47] panzarino commented on #95
@lazuhrow93 Yes, some attributes only exist during certain points in the game or for certain games, which seems to be the case here.

[2018-04-28 21:11] trevor-viljoen commented on #86
@PeterKaminski09 I haven't had time to dig into #90. I'd like to implement the requests library to use sessions and with that, https://github.com/reclosedev/requests-cache. This would help in reducing the bandwidth required, particularly for completed games. Additionally, this would help with an issue that was brought up by the MLB-LED-Scoreboard project. They sometimes experience an error related

[2018-04-28 21:40] chisox721 commented on #96
Yup, that was it. Thanks!

[2018-04-28 21:40] #96 closed

[2018-04-30 10:53] Pertempto commented on #68
Sorry, but I was busy last week and wasn't able to work on this. Someone else might want to do this because I can't promise that I'll have the time.

[2018-05-10 00:06] bbennett36 opened #97 "Is there a data dictionary anywhere for the stats in this package?"
I can't seem to find any real definitions for the fields used in the API. I was just wondering if there was a data dictionary in the API or any other site?

Thanks!

[2018-05-10 16:18] panzarino commented on #97
The library used to include a statmap which gave definitions for each attribute, however that was removed. Most attributes are self explanatory by the name, so it didn't make sense to keep maintaining that file. Most of the attributes can be googled if you do not know what they stand for, and any attribute prefixed with `s_` just means season stats up until that game (series stats for playoff game

[2018-05-10 16:18] #97 closed

[2018-05-10 16:20] panzarino commented on #97
In addition, the documentation for each object contains a list of its attributes.

[2018-05-11 05:13] sladcikc opened #98 "Any way to get player season stats?"
I've seen a players batting average, but what about the total at bats and hits of the season, etc?

[2018-05-11 17:30] chisox721 opened #99 "Grab umpires from games"
Could I get some help extracting umpire id/position for multiple games? I've been able to get data for 1 game even though my methodology is probably out of whack. This is what I have so far.

[code]

[2018-05-11 18:32] trevor-viljoen commented on #99
Umpires for all Astros games in October, 2017.

[code]

[2018-05-11 18:59] panzarino commented on #99
Thanks @trevor-viljoen

[2018-05-11 18:59] #99 closed

[2018-05-11 19:00] panzarino commented on #98
Any stat that is prefixed with `s_` is the player's season stats up until that game (series stats in playoffs).

[2018-05-11 19:00] #98 closed

[2018-05-11 21:16] chisox721 commented on #99
Thanks for the help! @trevor-viljoen

[2018-05-12 01:38] Ryanm95 opened #100 "Info about player during game"
It is hard for me to follow the documentation that you provided so I have a question about how to get player stats for a particular game like runs, hits, and home runs.

[2018-05-12 03:38] trevor-viljoen commented on #100
[code]

[2018-05-12 22:35] panzarino commented on #100
@Ryanm95 by using the links on the left side of the documentation page, you can visit the documentation for each module. Within that, there is a list of properties for each object that can be created. So, for stats, the applicable page would be http://panz.io/mlbgame/stats.m.html, which shows the different stat objects and attributes. In this case, you are looking for PlayerStats.

[2018-05-12 22:35] #100 closed

[2018-05-13 21:38] trevor-viljoen commented on #99
Check `game.game_status`. If it isn't `Delayed`, `Delayed Start` or `Postponed`, it has either been played (`Final`/`Game Over`) or is in progress (any other status).

[2018-05-25 19:51] msroth commented on #62
I have experienced the same error with a suspended game (2018_05_15_nyamlb_wasmlb_1).  I will make the edit suggested by cggarvey until a fix is in place.

[2018-05-28 03:11] KYDronePilot opened #101 "Simple way to Access Live Game Info with a Game ID"
I'm working on a project that needs the following information: current inning (including whether top or bottom), current score, and the home and away team names. Is there any simple way to get this information with only a game ID?

[2018-05-28 04:35] Hisairnessag3 opened #102 "Anyway to get injury info for a game?"
Looking through the API, I don't see anything but I could just be blind. Ideally I can snag injury info for a game at the home/away team level. If not, let me know if I can snag that off the mlb gameday API.

[2018-05-28 07:43] trevor-viljoen commented on #102
https://github.com/panzarino/mlbgame/blob/master/mlbgame/__init__.py#L264
https://github.com/panzarino/mlbgame/blob/master/mlbgame/info.py#L406-L445

[code]

[2018-05-28 07:45] trevor-viljoen commented on #101
Take a look at the https://github.com/MLB-LED-Scoreboard/mlb-led-scoreboard project. They use this API to do that.

[2018-05-28 09:19] Hisairnessag3 commented on #102
For a game! I need it for 2016-2017. Out of luck without writing something?

[2018-05-28 18:44] trevor-viljoen commented on #102
The injury report is based on the current date and time and pulled directly from MLB’s source. To my knowlege there is no historical injury source available from MLB. You would have to pull and cache them daily or find another source to pull from. The API/XML source does not provide this data.

[2018-05-29 01:21] panzarino commented on #101
@KYDronePilot By looking at the data that is currently available it should be fairly clear about which inning the game is in (along with current score and teams). The `box_score` function accepts a game id and should be pulling the most recent data available. Therefore, the last inning available through that will be the current inning.

[2018-05-29 01:27] KYDronePilot commented on #101
Thank you both for your feedback. I overlooked that the `overview` function could also provide all the information I was looking for. Is there any decreased latency advantage (or any advantage, for that matter) to using `box_score` instead of `overview`?

[2018-05-29 04:08] Hisairnessag3 commented on #102
Luckily, I think I'll be able to grab it via the waybackmachine, seems to have fine-enough granularity on the results, thanks!

[2018-05-29 13:48] panzarino commented on #101
@KYDronePilot I think that they both should be updated in realtime.

[2018-05-29 13:48] #101 closed

[2018-05-29 13:56] Hisairnessag3 opened #103 "Breaking change to gameday API?"
Have a script that grabs info daily and today got an exception:

[code]

gameid `2018_05_29_chamlb_clemlb_1`
`ValueError: Could not find a game with that id.`

API: http://gd2.mlb.com/components/game/mlb/year_2018/month_05/day_29/gid_2018_05_29_chamlb_clemlb_1/rawboxscore.xml

[2018-05-29 14:19] panzarino commented on #103
I believe that certain types of games do not have overview attributes, such as delayed or cancelled games.

[2018-05-29 14:45] Hisairnessag3 commented on #103
same here for all games:

`import mlbgame
games = mlbgame.games(2018,5,29)
print games
games = [g for item in games for g in item]
for game in games:
    try:
        print game.game_id
        print mlbgame.team_stats(game.game_id).era_home
    except ValueError as e:
        print e
        pass
`

[2018-05-30 00:10] Hisairnessag3 commented on #103
Um that's not true if you ran what I put there. Games_status can be just PRE_GAME and not have stats.

[code]

output:
[code]

[2018-05-30 06:07] Hisairnessag3 commented on #103
same today:

[code]

and output
[code]

[2018-05-30 10:31] trevor-viljoen commented on #103
A game that is in a “PRE-GAME” status means it has not started. It would not have any acumulated stats to pull from. You’ll have to filter for only completed or in progress games.

[2018-05-30 16:51] panzarino commented on #103
This is not an issue with our API, but rather with mlb.com. If they do not provide the data, there is nothing that we can do.

[2018-05-30 16:51] #103 closed

[2018-05-31 01:24] dennisobrien opened #104 "How to determine if an at-bat event was a hit and if it qualifies as an at-bat"
First: thanks so much for this module.  It strikes a great balance between providing access to the raw information and providing a layer of abstraction.

I'm playing around with MLB data and would like to calculate hits and at-bats from the granular data.  Here is the code I am using, but I would really like to know if there is a better way to get at this data.

[code]

I feel like I'm doing a lot

[2018-05-31 16:42] panzarino commented on #104
I believe the `stats` functions include a player's at bats, so you may be able to use that data to help. For each specific at bat object, I'm not sure how to determine if it is a hit if that data is not explicitly provided.

[2018-06-06 14:50] Hisairnessag3 commented on #103
Well I figured out that your releases aren't up to date, solid!. On PyPi, you do not have PR #91  https://github.com/panzarino/mlbgame/pull/91 included. How about instead of saying random things and then telling me its not an issue with your API, you stop, think about the issue, possibly maybe even look at the code??? That seems the better option vs ignorantly wasting developers' time.

[2018-06-06 16:37] cBrou commented on #50
Work around for anyone looking to continue pulling the yearly Batting and Pitching files...  Add an extra forward slash / at the end of the URI

`http://gd2.mlb.com/components/game/mlb/year_2018/batters//`

[2018-07-23 17:08] chisox721 opened #105 "Team schedules+start times"
I'm fairly certain this is a problem with my code but hoping it's close enough that someone can help get it finished.  The code below is supposed to pull the date, start time and weather for White Sox home games in April and May. The only issue is it produces the April 24th game twice and leaves out the April 26th game. Still relatively new to python so any help would be greatly appreciated.

[cod

[2018-07-23 21:00] chisox721 commented on #105
@panzarino According to BRef and Fangraphs they played on Fri April 24th and Sun April 26th. Sat April 25th game was rained out...maybe the root issue has something to do with that?

Also, I was using ValueError to skip over games without ID's but wasn't really sure that was right.

[2018-07-23 21:03] panzarino commented on #105
@chisox721 I think the fact that the game was cancelled is why it is not showing up. However, I do not understand why the game for the 24th is showing up twice. I'll look into it.

[2018-08-03 18:29] chisox721 commented on #105
@panzarino Just to give you an update on this, I was working with 2018 schedules and the Cubs game on April 14th appeared 3 times (April 15th and 16th games were postponed).

So the issue is basically that cancelled games are replaced with the most recent completed game instead of being skipped. Are you sure it's not a problem with my code? Maybe the `except ValueError` is causing the issue.

[2018-08-03 18:55] panzarino commented on #105
@chisox721 Honestly, I do not know what the issue is. I'll try to do some testing and see what's going on when I get the time.

[2018-08-03 20:28] chisox721 commented on #105
@panzarino No worries, very easy for me to work around it. Just figured I'd let you know.

[2018-08-05 04:15] #105 closed

[2018-08-07 21:08] rfcohen opened #106 "help getting historical scores"
All I want is all the scores from a particular day in a computable form.

Seems like this library should do it for me.  As I'm tinkering with it I keep getting this error:

`Traceback (most recent call last):
  File "/Users/cohenrf/Documents/Dev/RollOverRuns/RollOverRuns.py", line 12, in <module>
    scoreboard = mlbgame.box_score(game)
  File "/Users/cohenrf/Documents/Dev/RollOverRuns/venv/lib/py

[2018-08-07 22:30] panzarino commented on #106
Change this line `scoreboard = mlbgame.box_score(game)` to `scoreboard = mlbgame.box_score(game.game_id)` in order to get rid of that error.

[2018-08-16 16:29] ESchmidt16 opened #107 "command line to update mlbdata"
Hi.  Would you please assist with the command to execute this on windows and/or within the module?
 mlbgame-update

[2018-08-16 16:59] #107 closed

[2018-09-05 02:56] goodkdh opened #108 "Bug - No Output - mlbgame.games"
Hi,

I've found out that there are NOT Output results for following teams and terms.

1) Team: Diamondbacks, Term: year 2008 ~ 2017
2) Team: Rays, Term: year 2005 ~ 2007

Please fix the issue.
Thanks.
Kim

----------------------------------------------------------------------------
month = mlbgame.games(2007, home='Rays', away='Rays')
games = mlbgame.combine_games(month)
for game in games:
    pri

[2018-09-05 09:43] ajbowler commented on #108
If there's no data coming back that's not on mlbgame, that's on MLB. 2017 for Arizona is certainly a weird outlier but the further back you go you'll find less and less data will be returned from this API due to lack of storage on MLB's part.

[2018-09-05 15:02] trevor-viljoen commented on #108
The Rays were called the Devil Rays before 2008.

[code]

MLB uses `D-backs` for the common name, which I believe is the same as the field the `scoreboard` function finds in looking through scoreboard data files `home_name = teams[0].attrib['name']`. For example: http://gd2.mlb.com/components/game/mlb/year_2008/month_08/day_01/scoreboard.xml, the name here is 'D-backs'.
[code]

[code]

[2018-09-05 17:59] #108 closed

[2018-09-17 04:22] tomcooperca opened #109 "Arizona team name discrepency between mlbgame division standings and games"
mlbgame version == 2.5.0 on Python 3.6

I'm attempting to correlate a team gathered from the `mlbgame.standings().divisions` list and report on today's game using `mlbgame.day(datetime.now()...)`. When trying to match a game using either home or away team's name, the games for Arizona use `D-backs` whereas the divisional standings objects are using the name of `Diamondbacks`. I added a quick hack

[2018-09-17 18:58] panzarino commented on #109
@tomcooperca This is an issue with the way that MLB reports the data and is not an issue with mlbgame. Therefore, there is not much I can do to fix the inconsistency, but I can add a note somewhere in the docs.

[2018-09-17 18:58] #109 closed

[2018-09-18 22:25] kono10 opened #110 "Data for extra base hits"
I wanted to calculate slugging % for the last 10 games, 20 games, ... etc. Do you have support for differentiating hits when they are singles, doubles, or triples?

[2018-09-19 17:49] panzarino commented on #110
@kono10 I am not sure if this is correct, but I believe that each event (through `mlbgame.game_events()` of a hit has an indicator for what type of hit it was.

[2018-09-21 00:35] goodcoder1234 opened #111 "PyCharm"
I'm trying to get mlbgame to work with PyCharm, however it won't recognize mlbgame. I've installed pip but still it won't work. Anyone have any suggestions?

[2018-09-21 01:03] panzarino commented on #111
@goodcoder1234 I actually developed some of this library with PyCharm, so I know the issue is not with PyCharm. Are you sure that you installed correctly with pip? You say that you installed pip, but have you actually installed mlbgame by running `pip install mlbgame`? In addition, you might be having an issue similar to #96.

[2018-09-21 01:03] #66 closed

[2018-09-21 01:04] #87 closed

[2018-09-21 03:47] goodcoder1234 commented on #111
<img width="526" alt="screen shot 2018-09-20 at 8 46 14 pm" src="https://user-images.githubusercontent.com/43457529/45859277-4804bb80-bd16-11e8-8d6f-f8936ee117f3.png">

made sure to delete anything named mlbgame too and still not working. Any other suggestions?

[2018-09-21 06:41] panzarino commented on #111
@goodcoder1234 You need to type that into a terminal window, not the python file itself.

[2018-09-24 06:36] newenglandfall opened #112 "Is it possible to pull season stats for pitchers?"
Is it possible to pull a pitchers stats for say the last four season?

[2018-09-24 06:46] #112 closed

[2018-10-10 14:06] broder22 opened #114 "Requests only return fresh data each minute"
Any requests within one minute of the original return cached data. Is it possible to disable this behavior for quicker updates from live games? This seems specific to mlbgame.overview()

![mlbgame](https://user-images.githubusercontent.com/20190752/46741587-f8f1dc80-cc6a-11e8-8730-83961768e6c2.png)

[2018-10-11 02:57] #62 closed

[2018-10-11 02:58] panzarino commented on #114
@broder22 This seems to be an issue with mlb updating the data on the server. I think they must only update the file every minute, which is causing the delay. The overview function should be getting the most up to date information all the time.

[2018-10-11 02:58] #114 closed

[2018-10-11 19:34] trevor-viljoen commented on #94
This was closed by #113 .

[2018-10-11 20:06] #94 closed

[2018-10-11 20:06] #111 closed

[2018-10-11 20:07] #110 closed

[2018-10-11 20:07] #104 closed

[2018-10-13 16:52] trevor-viljoen commented on #81
@ajbowler @panzarino @bfox6 I've got code for this I will be working into a PR. It will get all elements and attributes from the linescore.xml files and make them available as python objects.

This will include the linescore, home_runs, situational_data (see below), winning_pitcher, losing_pitcher, save_pitcher, game_media, and reviews (how many challenges remain).

[code]

[2018-10-29 11:41] rwolst opened #117 "Caching in data.py"
When it comes to loading data, it could be very useful to cache it locally for fast lookup later. It says here (https://github.com/panzarino/mlbgame/blob/master/mlbgame/data.py#L3) that data is cached, however I cannot see any caching actually occurring. Is this something to be added?

One thing to be aware of is that it is unlikely someone would want to use caching during an in play match as in t

[2018-10-29 19:13] #69 closed

[2018-10-29 19:15] panzarino commented on #117
@rwolst It used to cache data but that functionality was removed as it became too difficult to maintain as the library expanded. Plus, the caching was complicated for the end user to understand and most people did not use it.

[2018-10-29 19:15] #117 closed

[2019-03-01 20:05] reddigari commented on #117
Would you be interested in a contribution that allowed a user to specify a path to cached XML files, and then loaded data from file whenever possible? There is a similar library [in this repo](https://github.com/benjamincrom/baseball) that has a data dump for 2008-2017. Doesn't have every endpoint used here, but it has the big ones.

This approach would prevent you from having to maintain caching

[2019-03-01 23:07] panzarino commented on #117
@reddigari I would be interested in that, as long as the user handles caching the correct files. In the past it became too difficult to manage the CLI that cached files.

[2019-03-10 21:43] KYDronePilot opened #121 "Error when viewing overview for spring training games"
I'm getting an error when trying to view the scoreboard for spring training games. Here is the error:

[code]

Is this due to MLB not posting scoreboard details for spring training games or is this an issue with the library?

[2019-03-11 00:34] trevor-viljoen commented on #121
rawbowscore.xml doesn’t exist in this case. Spring training is never uniform in what data is available and where it is found. There are always some weird one-offs that throw the code for a loop.

[2019-03-11 01:35] ajbowler commented on #121
This was fixed and merged into master via #119 we just need a new tag

[2019-03-11 02:40] KYDronePilot commented on #121
Ah, I see. What do you mean by a new tag? A new version on PyPi?

[2019-03-11 12:44] ajbowler commented on #121
Yes

[2019-03-11 22:49] panzarino commented on #121
Yep, there should be a new release coming this week when I get the chance.

[2019-03-11 22:49] #121 closed

[2019-03-21 14:43] mjsimpson24 opened #122 "Home/Away Probable Pitchers Reversed"
I'm grabbing the probable pitchers for 3/28/2019 and I noticed on the Reds/Pirates game it has Jamison Taillon as the home pitcher & Luis Castillo as the away pitcher when the game is being played in Cincinnati.

[2019-03-22 01:19] mrgator85 commented on #122
Confirmed.  Checked the Pirates at Reds on 3/28/19 and Astros at Rays on 3/29/19.

[2019-03-22 01:41] panzarino commented on #122
That is an issue with the data that mlb.com provides, and is not an issue with this library. This library simply gets the data from mlb.com, so this is not an issue that can be fixed.

[2019-03-22 01:49] trevor-viljoen commented on #122
MLB's data source is actually showing things correctly: http://gd2.mlb.com/components/game/mlb/year_2019/month_03/day_28/gid_2019_03_28_pitmlb_cinmlb_1/linescore.xml

[2019-03-22 01:51] trevor-viljoen commented on #122
[code]

[2019-03-22 01:53] panzarino commented on #122
Is this the only game that this is happening for or is it also an issue for other games?

[2019-03-22 01:55] mrgator85 commented on #122
I found two games with the problem. See my comment above. Pit @ Cin and Hou @ Rays

[2019-03-22 02:06] trevor-viljoen commented on #122
This looks to be fixed with the master branch.

[code]

[2019-03-22 02:09] panzarino commented on #122
If it is fixed on master it will be included in the next release (I've been pretty booked the past couple weeks but I'll try to get a release out asap).

[2019-03-22 02:09] #122 closed

[2019-03-30 18:45] jacobmh1177 commented on #121
This bug appears to be fixed for the game overview but is still present for player stats:

[code]

[2019-03-30 20:23] panzarino commented on #121
@jacobmh1177 Please submit a new issue for this bug relating to player stats.

[2019-03-30 20:31] jacobmh1177 opened #123 "XML Error pulling player stats"
The xml bug described in #121 appears to be fixed for the game overview but is still present for player stats. I've built from master and get the following result when trying to pull player stats from a completed game:

[code]

[2019-04-01 00:57] mrgator85 commented on #123
seems mlb changed the API on this.  there is no data provided at gd2.mlb.com/components/game/mlb/year_2019/month_03/day_31/gid_2019_03_31_pitmlb_cinmlb_1/
rawboxscore.xml

Not sure what was different in the old api between boxscore and rawboxscore, but maybe they combined them?

Not sure how to fix without knowledge of the data in rawboxscore vs boxscore

[2019-04-02 15:58] mmergola commented on #123
I actually just solved this same issue, so here's what I did (sorry if there's a cleaner way to show it on GitHub, this is my first real contribution).

In mlbgame folder:

1. data.py - change line 79/80 from 'rawboxscore.xml' to 'boxscore.xml'

Originally, it looked like this:
`return urlopen(GAME_URL.format(year, month, day, game_id,
                                       'rawboxscore.xml'))`

M

[2019-04-02 19:01] jtonzi commented on #123
@mmergola You're right!  But you only need to make the change you reference in data.py (I think).

Thanks for posting this!

[2019-04-03 00:47] trevor-viljoen commented on #123
The `rawboxscore` functionality is still necessary for backward compatibility with games from the past. I would advise against commenting it out or removing it.

[2019-04-03 16:11] Bill-M123 commented on #123
@mmergola:  Thx much!  @jtonzi : I had success with just changing data.py as well.  I did not change stats.py.

@trevor-viljoen:  Does making the single change prevent the backward compatibility issue?  Simple testing on my part indicated that it worked for 2017 games, but there may be more advanced functionality than I am using.

Again, many thanks.

[2019-04-04 03:51] trevor-viljoen commented on #123
@Bill-M123 `boxscore` and `rawboxscore` contained different data in the past. Commenting out the `rawboxscore` code would remove that data from being accessed for old games. A `try/except` block would be better.

[2019-04-04 13:51] Bill-M123 commented on #123
@trevor-viljoen Thx.  I was just about to comment out my question.  For my application, that means that all additional batting stats go away sine rawboxscore is removed.  You answered this in another thread (#89), and I didn't catch the implication until this morning when I working on the prediction side of my problem...

For me, the backward compatibility is actually a problem.  If I use any addi

[2019-04-04 14:52] mmergola commented on #123
Now that I'm understanding it all better, what everyone said above is correct (that it's necessary, but can survive with a try/except). I just used the link from trevor-viljoen to update my mlbstats.py script and changed the lines back to what they were for mlbdata.py.

Basically, what I said in my first comment is flawed and only works if you don't care about prior years. If so, use trevor-viljoe

[2019-04-04 15:26] #123 closed

[2019-04-16 09:04] susarlanikhilesh opened #125 "How to retrieve first pitch of a game using game_id?"
I'm trying to retrieve first pitch value for every particular game. I don't find a way. Can you help me through?

Thank you.

[2019-04-23 16:34] reddigari commented on #125
I don't think there's a way to query for this, but you can retrieve each game's events in the typical fashion and then access the first pitch:

[code]

[2019-05-02 06:58] susarlanikhilesh commented on #125
I've used https://github.com/trevor-viljoen/mlbgame3 which internally uses panzarino/mlbgame.
He has directly exposed the api. Almost the same.
Thank you.

[2019-05-02 06:58] #125 closed

[2019-05-04 18:33] nat5142 opened #126 "Issue with the `overview` endpoint"
Getting an error with responses from the `overview` function:

[code]

produces:

[code]

I dug around a bit and imported `mlbgame.data.get_overview` to see what was up:

[code]

Which produces this output:

[code]

Thought the notice at the beginning should be brought to your attention

[2019-05-15 03:43] AndrewYinLi opened #127 "Calling `box_score` gives you an error if it's the top of an inning for a live game"
When I try to call `mlb.box_score(some_game_id)` when it is the top of an inning of an ongoing game, I get get the following eror: `ValueError: invalid literal for int() with base 10: ''`. When it is the bottom of an inning everything is fine. Will look into a solution.

Edit: If a team scores during the top of an inning it begins to work.

Full traceback:
` Traceback (most recent call last):
  Fi

[2019-05-15 08:23] AndrewYinLi commented on #127
@panzarino I made a pull request with changes that should resolve the issue

[2019-05-15 18:20] erinbristow opened #129 "Building an updating scoreboard for a day's games"
![Capture](https://user-images.githubusercontent.com/35668184/57799211-67b47e00-7703-11e9-9185-a6a30f751a88.PNG)

Hi, trying to display the day's games and scores and update them every two minutes or so. Not quite sure what going on here, but I'm exploring the different functions listed in the API and I'm having trouble with this one. The result of the function are in hexadecimal. This is also hap

[2019-05-15 20:54] AndrewYinLi commented on #129
A list of objects is being returned when you call `scoreboard(...)` and the hexadecimal is the address in memory for the `GameScoreboard` object. I recommend calling `scoreboard(...)[0].__dict__` to see the attributes for the first `GameScoreboard` object.

[2019-05-16 15:44] #127 closed

[2019-05-16 15:46] panzarino commented on #126
I think the library has been having a lot of issues recently because of the new Stats API. Since the new API is JSON, it is a lot easier to work with in python than XML (the reason I created this library), and I would suggest using that directly.

[2019-05-17 00:51] AndrewYinLi opened #131 "`AtBat`'s attributes `des`, `event`, 'des_es`, and `event_es` are occasionally empty"
For live games, I've been matching the most recent `AtBat` object's attributes with the corresponding play for live games. An `AtBat` object is always created within 5-10 seconds of the play occurring in the game but sometimes the `des`, `event`, `des_es`, and `event_es` attributes are empty.
Example of back-to-back `AtBat` objects I printed to console, the first is fine but the second has empty a

[2019-05-17 01:06] AndrewYinLi commented on #131
Never mind, the mistake was on my part.

[2019-05-17 01:06] #131 closed

[2019-05-17 18:28] erinbristow commented on #129
Thank you!

[2019-05-18 05:45] #129 closed

[2019-05-24 19:07] erinbristow opened #132 "Changing time zone to Pacific"
Hi, I'm trying to change the time zone of the game times to Pacific. In the game.py script at around line 208, it mentions how the time zone is not specified but to consider it as Eastern. Where/how do I change it? Thanks!

[2019-05-25 21:21] KYDronePilot commented on #121
When can we expect a new release that includes a fix for the original issue? I am working on a project that uses this library, but am having to manually install the `master` branch to get the `overview` feature to work.

[2019-06-04 14:55] eyzae opened #133 "overview(game_id) causes XMLSyntaxError"
If I cycle through 'mlbgame.day()' with today's date I receive a list of all the games, including the 'game_id'.  If I use that 'game_id' and try and use 'mlbgame.overview(game_id)', I receive the following error:

File "http://gd2.mlb.com/components/game/mlb/year_2019/month_06/day_04/gid_2019_06_04_atlmlb_pitmlb_1/rawboxscore.xml", line 1
lxml.etree.XMLSyntaxError: Space required after the Public

[2019-06-20 02:40] MatthewDudley opened #135 "long return time waits?"
Is anyone else having to wait a long time for calls to return? I got the issue on the example code as well as just printing out one game score.

[2019-06-20 04:03] panzarino commented on #135
MLB is moving all of their data away from XML files (what this library uses) and into their own JSON api, and I have noticed that requests for the past ~2 years have been significantly slower than before. Therefore, it seems that MLB is trying to drive everything to their api, rendering this library fairly obsolete.

[2019-06-20 04:03] #135 closed, assigned to nobody

[2019-06-20 13:55] MatthewDudley commented on #135
Thanks for the feedback!

[2019-06-22 03:03] Mark-DelGrande commented on #133
I use overview = mlbgame.overview(gameid). The same way you do. I put all my code inside a try because occasionally the XML database is messed up the mlbgame cant pull it.

[2019-06-22 03:06] Mark-DelGrande opened #136 "Events run very slow"
When I run:

events = mlbgame.game_events(gameid)

I noticed it is running very slow for 2019 data. It takes about 9 seconds. When I pull prior years it runs at a much more normal speed. Anyone know why?

[2019-06-24 12:37] eyzae commented on #133
To get around the issues I was having, without using a try/except, I just commented out the 'raw_box_score' and 'raw_box_score_root' lines in 'game.py' (lines 325, 328, 335, and 336).  I haven't had any issues since.

I guess a try/except would be better, I'll go that route in case there are other problems that arise.

[2019-06-24 18:47] panzarino commented on #136
See #135.

[2019-06-24 18:47] #136 closed, assigned to nobody

[2019-06-24 18:49] panzarino commented on #132
I'm not sure if you can change it. This seems to be a limitation of the XML files. However, I think the best approach would be to change the timezone of the returned object property before using it in your application.

[2019-09-22 21:10] droher opened #137 "Pypi version (2.5) out of date"
It looks like the API has introduced breaking changes since the last time mlbgame was updated on PyPi/the latest release (2.5.0 on 4/16/18). `mlbgame.events('2019_08_14_balmlb_nyamlb_1')` will work without a problem when using `master`, but 2.5.0 will fail with this error:

[code]

In the meantime users can get around this by installing directly from github: `pip3 install git+https://github.com/pa

[2020-07-23 22:06] cfrontin opened #138 "Standings pulls"
Hello!

Right now, if I run
`$> mlbgame.standings(today)`
I get back an error along the lines of:
[code]
I suspect this is likely a 2020 being weird issue.

[2020-07-26 06:24] ByronBecker commented on #137
Likewise, one can install that specific version in pipenv like so -> `pipenv install mlbgame~=2.5.0`

[2020-07-27 02:40] jso8910 opened #139 "Can I get data such as if there are runners on first, second, or third, and how many balls and strikes there are?"
I was wondering if I could get this data. I haven't found it, but I am still wondering if it is possible.

[2020-09-01 03:22] vjweber commented on #139
It looks like balls and strikes are part of the game overview, but I am not sure how to get the base runners.

[2020-11-10 21:04] bcurl21 opened #140 "game_id"
Where would I be able to find the game_id? MLB website?

[2021-02-14 15:12] mkono87 commented on #140
Same im a bit confused about this

[2021-03-16 15:26] David4Danger commented on #140
@bcurl21 @mkono87 you can retrieve `game_id` from other endpoints available on the API, such as the "day" or "games" resources.

[2021-04-10 16:14] danielkmetz opened #141 "Probable Pitchers"
For the past few days I've been able to pull the probable pitchers for the day's games up until the first game starts since the game that started will no longer have the attribute "probable pitchers". Makes sense. However, today (4/10/21) prior to the first game starting, my code threw the 'GameScoreboard object has no attribute 'p_pitcher_away' error. Why would it be throwing this error before ga

[2021-05-18 02:16] marketsbymark commented on #141
Wasn't there a game that day that had a late non-named starter - in a bullpen session by chance? and the name wasn't matched. Going to check the tape on this one after finishing this message

[2021-05-18 02:20] marketsbymark commented on #141
Not sure this would cause it, but the first game of the day but was postponed, Pitchers showed up as TBD :
https://www.mlb.com/scores/2021-04-10

[2021-05-20 11:42] jso8910 commented on #126
How do I use the new API? It requires an account and I don't know how to get said account

[2021-05-27 13:03] MiamiMoosh opened #142 "Game ID"
Hi, I'm trying to get started with this, and just looking through the documentation, many of the functions take a game id parameter. I've been looking around trying to locate how to obtain a list of the game ids, but have been unsuccessful. Can someone point me in the right direction please?

Thanks in advance.

[2021-05-27 13:05] MiamiMoosh commented on #142
Please disregard. I located a previous thread about this.

[2021-05-27 13:05] #142 closed, assigned to nobody

[2021-06-29 17:23] daveklotz opened #143 "Home/Away probables listed for wrong team"
The home and away probables seem to be flipped.

According to ESPN the probably starters for 6/29/21 Rays at Nationals is Rich Hill (TB Rays) and Joe Ross (WSH Nationals). But if I execute this code:

[code]

I get this output:
[code]

[2021-06-30 18:19] VeinyAngus opened #144 "mlbgame.injury() gives AttributeError"
`Traceback (most recent call last):
  File "<pyshell#31>", line 1, in <module>
    mlbgame.injury()
  File "C:\Users\ME\AppData\Local\Programs\Python\Python38-32\lib\site-packages\mlbgame\__init__.py", line 266, in injury
    data = mlbgame.info.injury()
  File "C:\Users\ME\AppData\Local\Programs\Python\Python38-32\lib\site-packages\mlbgame\info.py", line 408, in injury
    parsed = json.loads(dat

[2021-07-06 20:41] Ethan-Park57 commented on #144
I looked at this briefly and think this has to do with MLB's lookup service being deprecated. Using the StatsAPI (which replaced the lookup service) might fix this issue.

[2021-07-07 06:39] VeinyAngus commented on #144
The StatsAPI? Where can I find this?

[2021-07-07 21:27] Ethan-Park57 commented on #144
I would just look up MLB StatsAPI. I believe you need to request access/make an account, but I don't know if they give it to anyone and everyone. It doesn't hurt to try to get access though.

[2021-07-07 21:29] VeinyAngus commented on #144
Thanks

[2021-07-17 16:25] danielkmetz commented on #141
If it was listed as to TBD that shouldn't be an issue when pulling the probables since it will just show up as "-". Regardless, I was able to find a work around.

[2021-07-31 22:14] mastashake08 commented on #140
![Screen Shot 2021-07-31 at 6 13 46 PM](https://user-images.githubusercontent.com/1226096/127753555-1eb509b7-6d14-4123-b240-6259475e34b5.png)
None of the game ids work
[code]

[2021-09-03 16:59] blaineirle opened #146 "get_raw_box_score throws 'Could not find a game with that id.' exception for valid game_id"
get_raw_box_score always fails for any game_id you give it. Breaks a lot of functions.

[2021-09-06 04:05] caseyjohnsonwv opened #147 "Getting game events for game with unplayed bottom of final inning causes IndexError"
Version: 2.5.0

Steps to reproduce:
1. Choose a game in which the bottom of the 9th inning was not played. For example, game_id `2021_04_03_tormlb_nyamlb_1`, the Yankees v Blue Jays game from April 3rd, 2021.
2. Run `mlbgame.events.game_events(id)` with the selected game_id value.

Result:
[code]

Edit: this appears to be a duplicate of #137, still open from 2 years ago.

[2022-01-27 16:58] ghost opened #148 "ValueError: Could not find a game with that id still occurring -- worked yesterday"
Just getting started with this API, and this morning am seeing the same game id error still occuring. This happens with running the base example presented in the documentation. Anyone have a fix?

`#!python
from __future__ import print_function
import mlbgame

game = mlbgame.day(2015, 11, 1, home='Mets')[0]
stats = mlbgame.player_stats(game.game_id)
for player in stats.home_batting:
    print(play

[2022-01-29 16:53] tomdmason commented on #148
I am also getting some similar inconsistent results:
[code]

Output:
[code]

So game id is valid for the boxscore call, but not the overview

[2022-04-10 16:31] etsweeney opened #151 "2022 Games not appearing"
[]

[]

[2022-04-12 16:07] danielkmetz commented on #151
I am seeing this issue as well.

[2022-04-15 14:38] petrospapadakos commented on #151
Any updates?

[2022-05-03 11:23] roe-men commented on #151
having an issue with this in general not specific to 2022. Lists are coming back empty

[2022-06-02 00:37] easella commented on #151
yeah same here

[2022-06-02 00:41] easella commented on #151
i ran the code and it appears blank
![image](https://user-images.githubusercontent.com/74786054/171524026-3c1b1dae-ae07-4094-a475-846a5cfd4d22.png)

[2022-06-02 16:41] trevor-viljoen commented on #151
The underlying data is no more. There's nothing that can be done about it as MLB has moved on to their new API. There are other projects on GitHub that pull from this data source. A complete rewrite of this project would be necessary to make use of the new API. Doing so would create many breaking changes.

[2022-06-13 11:26] etsweeney commented on #151
Thanks @trevor-viljoen for the explanation. Could you share some of those other projects for others that come along later and find this?

[2022-06-14 05:53] trevor-viljoen commented on #151
This one is mine: https://github.com/trevor-viljoen/mlbapi

This is another that I'm aware of: https://github.com/toddrob99/MLB-StatsAPI

[2022-08-07 20:51] jouellnyc commented on #151
I'm using https://github.com/toddrob99/MLB-StatsAPI with great success. Thanks for your efforts thus far.